<template>
  <v-layout>
    <v-alert
      v-if="isSuccess"
      dismissible
      @input="onClose"
      type="success"
      :value="true"
    >
      {{ message }}
    </v-alert>
    <v-alert
      v-if="!isSuccess"
      dismissible
      @input="onClose"
      type="error"
      icon="new_releases"
      :value="true"
    >
      {{ message }}
    </v-alert>
  </v-layout>
</template>

<script>
export default {
  props: {
    message: {
      type: String,
      default: "Fehler"
    },
    isSuccess: {
      type: Boolean,
      default: false
    }
  },
  methods: {
    onClose() {
      this.$emit("dismissed");
    }
  }
};
</script>

<style scoped></style>
