<template>
  <v-container fluid id="categoriesFunds">
    <p class="title">{{ categoryName }}</p>
    <v-layout row>
      <v-flex>
        <v-switch
          :label="`Monatsansicht`"
          v-model="selectedMonth"
          value="true"
          id="switch_month"
        ></v-switch>
      </v-flex>
      <v-flex xs2>
        <v-btn id="btn_edit" @click="router.push(`/categories/${categoryId}`)">
          <v-icon>edit</v-icon>Bearbeiten
        </v-btn>
      </v-flex>
      <v-flex xs1 md2 lg1>
        <v-btn id="btn_cancel" @click="router.push('/categories')">
          <v-icon>arrow_back_ios</v-icon>Zurück
        </v-btn>
      </v-flex>
    </v-layout>
    <section v-if="selectedMonth[0]">
      <section v-if="error">
        <p>Beim Laden der Geldstr&ouml;me ist ein Fehler aufgetreten.</p>
        <p>Eventuell kann der Server nicht erreicht werden. Siehe logs</p>
      </section>

      <section v-else>
        <v-layout row>
          <v-flex xs7>
            <v-layout v-if="loading" class="text-xs-center">
              <div>Lade Daten...</div>
              <div>
                <v-progress-circular
                  indeterminate
                  color="primary"
                ></v-progress-circular>
              </div>
            </v-layout>

            <v-layout v-else justify-center>
              <v-layout
                align-space-between
                justify-center
                column
                v-if="plannedRegularFunds && plannedRegularFunds.length > 0"
              >
                <p class="title">Fällige Ausgaben:</p>
                <v-flex xs12>
                  <v-list>
                    <v-list-tile
                      v-for="fund in plannedRegularFunds"
                      :key="fund.id"
                      id="regularfundList"
                    >
                      <v-list-tile-content>
                        <v-list-tile-title
                          v-text="
                            fund.description +
                              '  - fällig am: ' +
                              formattedDate(fund.date)
                          "
                        ></v-list-tile-title>
                      </v-list-tile-content>
                      <v-list-tile-avatar>
                        {{ fund.value | twoDecimalPlaces }}€
                      </v-list-tile-avatar>
                    </v-list-tile>
                  </v-list>
                </v-flex>
              </v-layout>
            </v-layout>
            <div v-if="funds && funds.length == 0">
              <p class="text-xs-center subheading">
                Sie haben keine Geldströme in der Kategorie {{ categoryName }}
              </p>
            </div>
            <section v-else>
              <v-data-table
                v-model="selected"
                :headers="headers"
                :items="funds"
                :pagination.sync="pagination"
                item-key="id"
                class="elevation-1"
              >
                <template slot="items" slot-scope="props">
                  <tr
                    :active="props.selected"
                    @click="router.push(`/funds/${props.item.id}`)"
                  >
                    <td>{{ formattedDate(props.item.date) }}</td>
                    <td>{{ props.item.description }}</td>
                    <td class="text-xs-center">
                      <div v-if="props.item.favoriteId > 0">
                        <v-icon flat fab>star</v-icon>
                      </div>
                    </td>
                    <td class="text-xs-right">
                      {{ props.item.value | twoDecimalPlaces }}
                    </td>
                  </tr>
                </template>
              </v-data-table>
            </section>
          </v-flex>

          <v-flex xs5>
            <v-layout column pl-2>
              <v-layout row>
                <v-btn
                  id="btn_previousMonth"
                  flat
                  icon
                  @click="setPreviousMonth()"
                >
                  <v-icon>chevron_left</v-icon>
                </v-btn>
                <v-menu
                  ref="dateMenu"
                  :close-on-content-click="false"
                  v-model="dateMenu"
                  :nudge-right="40"
                  lazy
                  transition="scale-transition"
                  offset-y
                  full-width
                  max-width="290px"
                  min-width="290px"
                >
                  <v-text-field
                    id="tf_month"
                    slot="activator"
                    v-model="formattedMonth"
                    label="Monat auswählen"
                    persistent-hint
                    prepend-icon="event"
                    readonly
                  ></v-text-field>
                  <v-date-picker
                    id="dp_fundsMonth"
                    v-model="date"
                    no-title
                    @input="dateMenu = false"
                    @change="getFundsForMonth(categoryId, year, month)"
                    type="month"
                    locale="de-DE"
                  ></v-date-picker>
                </v-menu>
                <v-btn id="btn_nextMonth" flat icon @click="setNextMonth()">
                  <v-icon>chevron_right</v-icon>
                </v-btn>
              </v-layout>
              <v-layout column mt-3>
                <v-layout
                  row
                  justify-space-between
                  offset-xs1
                  v-if="monthlyIncome > 0"
                >
                  <v-flex>
                    <p class="title ">Einnahmen:</p>
                  </v-flex>
                  <v-flex>
                    <p class="text-xs-right title ">
                      {{ monthlyIncome | twoDecimalPlaces }}€
                    </p>
                  </v-flex>
                </v-layout>
                <v-layout row justify-space-between v-if="monthlyExpenses < 0">
                  <v-flex>
                    <p class="title ">Ausgaben:</p>
                  </v-flex>
                  <v-flex>
                    <p class="text-xs-right title ">
                      {{ monthlyExpenses | twoDecimalPlaces }}€
                    </p>
                  </v-flex>
                </v-layout>
                <v-layout
                  row
                  justify-space-between
                  v-if="monthlyIncome > 0 && monthlyExpenses < 0"
                >
                  <v-flex>
                    <p class="title">Bilanz:</p>
                  </v-flex>
                  <v-flex>
                    <p class="text-xs-right title">
                      {{ monthlyBalance | twoDecimalPlaces }}€
                    </p>
                  </v-flex>
                </v-layout>
              </v-layout>
            </v-layout>
          </v-flex>
        </v-layout>
      </section>
    </section>

    <section v-else>
      <v-layout v-if="loading" class="text-xs-center">
        <div>Lade Daten...</div>
        <div>
          <v-progress-circular
            indeterminate
            color="primary"
          ></v-progress-circular>
        </div>
      </v-layout>

      <v-layout v-else justify-center>
        <v-layout
          align-space-between
          justify-center
          column
          v-if="plannedAllRegularFunds && plannedAllRegularFunds.length > 0"
        >
          <v-flex xs12>
            <v-list>
              <v-list-tile>
                <v-list-tile-content>
                  <p class="title">Regelmäßige Geldströme</p>
                </v-list-tile-content>
              </v-list-tile>
              <v-list-tile
                v-for="fund in plannedAllRegularFunds"
                :key="fund.id"
                id="regularAllfundList"
              >
                <v-list-tile-content>
                  <v-list-tile-title
                    >{{
                      fund.description +
                        " - " +
                        getFundFrequenzy(fund.frequenzy, fund.firstBooking) +
                        ": "
                    }}
                    {{ fund.value | twoDecimalPlaces }}
                  </v-list-tile-title>
                </v-list-tile-content>
                <v-list-tile-avatar> </v-list-tile-avatar>
              </v-list-tile>
            </v-list>
          </v-flex>
        </v-layout>
      </v-layout>
      <div v-if="allFunds && allFunds.length == 0">
        <p class="text-xs-center subheading">
          Sie haben keine Geldströme in dieser Kategorie
        </p>
      </div>
      <section v-else>
        <p class="text-xs-center title " style="margin-top:15px">
          Alle verbuchten Geldströme
        </p>
        <v-data-table
          v-model="selected"
          :headers="headersFunds"
          :items="allFunds"
          :pagination.sync="paginationFunds"
          item-key="id"
          class="elevation-1"
        >
          <template slot="items" slot-scope="props">
            <tr
              :active="props.selected"
              @click="router.push(`/funds/${props.item.id}`)"
            >
              <td>{{ formattedDate(props.item.date) }}</td>
              <td>{{ props.item.description }}</td>
              <td class="text-xs-center">
                <div v-if="props.item.favoriteId > 0">
                  <v-icon flat fab>star</v-icon>
                </div>
              </td>
              <td class="text-xs-right">
                {{ props.item.value | twoDecimalPlaces }}
              </td>
            </tr>
          </template>
        </v-data-table>
      </section>
    </section>
  </v-container>
</template>

<script>
import axios from "axios";
import router from "../router";
import moment from "moment";
import {
  BACKEND_URL,
  FUNDS_PATH,
  CATEGORIES_PATH,
  REGULAR_FUNDS_PATH
} from "../backend.config";
export default {
  filters: {
    twoDecimalPlaces: function(value) {
      if (!value) return "0.00";
      return (+value).toFixed(2);
    }
  },
  data() {
    return {
      //display
      loading: true,
      error: false,
      dateMenu: false,
      //datatable
      pagination: {
        sortBy: "date",
        descending: true,
        rowsPerPage: 7
      },
      paginationFunds: {
        sortBy: "date",
        descending: true,
        rowsPerPage: 7
      },
      headers: [
        { text: "Datum", value: "date", align: "left" },
        {
          text: "Beschreibung",
          value: "description",
          align: "left"
        },
        { text: "Favorit", value: "favoriteId", align: "center" },
        { text: "Betrag", value: "value", align: "right" }
      ],
      headersFunds: [
        { text: "Datum", value: "date", align: "left" },
        {
          text: "Beschreibung",
          value: "description",
          align: "left"
        },
        { text: "Favorit", value: "favoriteId", align: "center" },
        { text: "Betrag", value: "value", align: "right" }
      ],
      selected: [],
      selectedMonth: [],
      //data
      categoryId: 0,
      categoryName: null,
      //funds in the selected month
      funds: [],
      allFunds: [],
      //planned funds in the selected month
      plannedRegularFunds: [],
      plannedAllRegularFunds: [],
      //selected date, default=today
      date: new Date().toISOString().substring(0, 10),
      router,
      moment,
      weekDays: [
        "Sonntag",
        "Montag",
        "Dienstag",
        "Mittwoch",
        "Donnerstag",
        "Freitag",
        "Samstag"
      ]
    };
  },
  mounted() {
    this.categoryId = this.$route.params.id;
    this.getCategory();
    this.refresh();
  },
  computed: {
    formattedMonth: function() {
      var options = { year: "numeric", month: "long" };
      return new Date(this.year, this.month).toLocaleString("de-DE", options);
    },
    year: function() {
      return this.date.substring(0, 4);
    },
    month: function() {
      //month offset, starting with 0
      return +this.date.substring(5, 7) - 1;
    },
    monthlyBalance: function() {
      if (!this.funds) return 0;
      return this.funds.map(f => +f.value).reduce((acc, cur) => acc + cur, 0);
    },
    monthlyIncome: function() {
      if (!this.funds) return 0;
      return this.funds
        .map(f => +f.value)
        .filter(val => val > 0)
        .reduce((acc, cur) => acc + cur, 0);
    },
    monthlyExpenses: function() {
      if (!this.funds) return 0;
      return this.funds
        .map(f => +f.value)
        .filter(val => val < 0)
        .reduce((acc, cur) => acc + cur, 0);
    },
    monthlyProjection: function() {
      if (!this.funds || !this.plannedRegularFunds) return 0;
      var plannedExpenseTotal = this.plannedRegularFunds
        .map(f => +f.value)
        .reduce((acc, cur) => acc + cur, 0);
      return this.monthlyBalance + plannedExpenseTotal;
    },
    isPastMonth: function() {
      var firstOfCurrentMonth = new Date();
      //first day of the month in current timezone, might be one hour off in utc
      firstOfCurrentMonth = new Date(
        firstOfCurrentMonth.getFullYear(),
        firstOfCurrentMonth.getMonth()
      );
      return new Date(this.year, this.month) < firstOfCurrentMonth;
    }
  },
  methods: {
    formatWeekday: function(firstBooking) {
      return this.weekDays[moment(firstBooking).format("d")];
    },
    //router behaviour - rückkehr zur selben page
    beforeRouteUpdate: function() {
      //reload funds
      this.refresh();
    },
    setPreviousMonth() {
      var dt = new Date(this.date);
      if (dt.getMonth() == 0)
        this.date = new Date(dt.getFullYear() - 1, 12, 1)
          .toISOString()
          .substring(0, 10);
      else {
        //it's a feature
        this.date = new Date(dt.getFullYear(), dt.getMonth(), 1)
          .toISOString()
          .substring(0, 10);
      }
      this.refresh();
    },
    setNextMonth() {
      var dt = new Date(this.date);
      if (dt.getMonth() == 12)
        this.date = new Date(dt.getFullYear() + 1, 0, 1)
          .toISOString()
          .substring(0, 10);
      else {
        //it's a feature
        this.date = new Date(dt.getFullYear(), dt.getMonth() + 2, 1)
          .toISOString()
          .substring(0, 10);
      }
      this.refresh();
    },
    refresh() {
      this.getFundsForMonth(this.categoryId, this.year, this.month);
      this.getRegularFundsForMonth(this.categoryId, this.year, this.month);
      this.getFundsForCategory(this.categoryId);
      this.getRegularFundsForCategory(this.categoryId);
    },
    getFundsForMonth: function(categoryId, year, month) {
      //reset
      this.funds = [];
      var vm = this;
      axios
        .get(BACKEND_URL + FUNDS_PATH + "monthlyCategory", {
          params: {
            categoryId: categoryId,
            year: year,
            month: month
          }
        })
        .then(response => {
          vm.funds = response.data.funds;
        })
        .catch(error => {
          console.error(error);
          vm.error = true;
        })
        .finally(() => {
          vm.loading = false;
        });
    },
    getRegularFundsForMonth: function(categoryId, year, month) {
      //reset
      this.plannedRegularFunds = [];
      var vm = this;
      axios
        .get(BACKEND_URL + REGULAR_FUNDS_PATH + "monthlyCategory", {
          params: {
            categoryId: categoryId,
            year: year,
            month: month
          }
        })
        .then(response => {
          if (response.data.regularfunds) {
            vm.plannedRegularFunds = response.data.regularfunds.sort(
              this.sortByDateField
            );
          }
        })
        .catch(error => {
          console.error(error);
        })
        .finally(() => {});
    },
    sortByDateField: function(a, b) {
      if (a.date < b.date) return 1;
      if (a.date === b.date) return 0;
      return -1;
    },
    formattedDate(dateUTC) {
      return moment(dateUTC).format("DD.MM.YYYY");
    },
    zeroPrefix(value) {
      if (!value) return 0;
      return ("0" + value).slice(-2);
    },
    getCategory() {
      this.categoryName = null;
      var vm = this;
      return axios
        .get(BACKEND_URL + CATEGORIES_PATH + vm.categoryId)
        .then(function(response) {
          if (response.data != null) {
            vm.categoryName = response.data.name;
          }
        });
    },
    getFundsForCategory: function(categoryId) {
      var vm = this;
      this.allFunds = [];
      return axios
        .get(BACKEND_URL + CATEGORIES_PATH + categoryId + "/funds")
        .then(function(response) {
          if (response.data != null) {
            vm.allFunds = response.data;
          }
        });
    },
    getRegularFundsForCategory: function(categoryId) {
      var vm = this;
      this.plannedAllRegularFunds = [];
      return axios
        .get(BACKEND_URL + CATEGORIES_PATH + categoryId + "/regularFunds")
        .then(function(response) {
          if (response.data != null) {
            vm.plannedAllRegularFunds = response.data;
          }
        });
    },
    getFundFrequenzy: function(fundFrequency, fundFirstBooking) {
      var frequency = null;
      // Jeden Tag um 0 Uhr
      const daily = /0 0 \* \* \*/;
      const matchesDaily = daily.exec(fundFrequency);
      // An jedem angegebenen Wochentag (So-Sa) um 0 Uhr
      const weekly = /0 0 \* \* [0-6]/;
      const matchesWeekly = weekly.exec(fundFrequency);
      // An jedem angebenen Tag im Monat um 0 Uhr
      const monthly = /0 0 ([1-9]|[12]\d|3[0-1]) \* \*/;
      const matchesMonthly = monthly.exec(fundFrequency);
      // An jedem angebenen Tag (1-31) im Monat um 0 Uhr, alle 3 Monate
      const quarterYearly = /0 0 ([1-9]|[12]\d|3[0-1]) \*\/3 \*/;
      const matchesQuarterYearly = quarterYearly.exec(fundFrequency);
      // An jedem angebenen Tag (1-31) im Monat um 0 Uhr, alle 6 Monate
      const halfYearly = /0 0 ([1-9]|[12]\d|3[0-1]) \*\/6 \*/;
      const matchesHalfYearly = halfYearly.exec(fundFrequency);
      // An jedem angebenen Tag (1-31) im angegebenen Monat (1-12) um 0 Uhr
      const yearly = /0 0 ([1-9]|[12]\d|3[0-1]) (\d|1[0-2]) \*/;
      const matchesYearly = yearly.exec(fundFrequency);

      if (matchesDaily) {
        frequency = "täglich, ";
      } else if (matchesWeekly) {
        frequency = "wöchentlich, " + this.formatWeekday(fundFirstBooking);
      } else if (matchesMonthly) {
        frequency =
          "monatlich, " +
          "An jedem " +
          moment(fundFirstBooking).format("D") +
          "ten";
      } else if (matchesQuarterYearly) {
        frequency =
          "vierteljährlich, " +
          moment(fundFirstBooking).format("D.M") +
          "/" +
          moment(fundFirstBooking)
            .add(3, "months")
            .format("M") +
          "/" +
          moment(fundFirstBooking)
            .add(6, "months")
            .format("M") +
          "/" +
          moment(fundFirstBooking)
            .add(9, "months")
            .format("M");
      } else if (matchesHalfYearly) {
        frequency =
          "halbjährlich, " +
          moment(fundFirstBooking).format("D.M") +
          "/" +
          moment(fundFirstBooking)
            .add(6, "months")
            .format("M");
      } else if (matchesYearly) {
        frequency = "jährlich, " + moment(fundFirstBooking).format("D.M");
      }
      return frequency;
    }
  }
};
</script>

<style scoped></style>
