<template>
  <v-container fluid id="categoriesCRUD">
    <v-layout row wrap align-center>
      <v-flex xs8 offset-xs1>
        <v-form ref="form" v-model="formValid" lazy-validation>
          <v-text-field
            v-model="name"
            :rules="nameRules"
            label="Name"
            required
            id="tf_name"
          ></v-text-field>
        </v-form>
        <v-layout row justify-space-between>
          <div v-if="!isNewEntry">
            <v-btn
              :disabled="!formValid"
              @click="deleteCategory()"
              id="btn_delete"
            >
              <v-icon flat>delete_forever</v-icon>Löschen
            </v-btn>
          </div>

          <v-spacer></v-spacer>

          <v-btn :disabled="!formValid" @click="upsertCategory()" id="btn_save">
            <v-icon flat>save</v-icon>Speichern
          </v-btn>
          <v-btn id="btn_cancel" @click="router.push('/categories')">
            <v-icon>cancel</v-icon>Abbrechen
          </v-btn>
        </v-layout>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import axios from "axios";
import router from "../router";
import { BACKEND_URL, CATEGORIES_PATH } from "../backend.config";
export default {
  data() {
    return {
      //display
      error: false,
      formValid: true,
      //form validation
      nameRules: [v => !!v || "Der Name muss angegeben werden"],
      //data
      isNewEntry: false,
      name: null,
      id: null,
      //navigation
      router
    };
  },
  mounted() {
    this.resetFields();
    if (!this.isNewEntry) {
      this.loadFields();
    }
  },
  beforeRouteEnter: function(to, from, next) {
    next(vm => {
      vm.resetFields();
      vm.loadFields();
      next();
    });
  },
  beforeRouteUpdate: function(to, from, next) {
    next(vm => {
      vm.resetFields();
      vm.loadFields();
      next();
    });
  },
  methods: {
    upsertCategory() {
      var vm = this;
      if (this.$refs.form.validate()) {
        //disable buttons to stop fast clicking
        this.formValid = false;
        axios
          .post(BACKEND_URL + CATEGORIES_PATH + "replaceOrCreate", {
            name: this.name,
            id: this.id === "new" ? null : this.id
          })
          .then(function() {
            vm.router.push("/categories");
          });
      }
    },
    deleteCategory() {
      if (!this.id) return;
      this.formValid = false;
      var vm = this;
      axios
        .delete(BACKEND_URL + CATEGORIES_PATH + `${this.id}`, {
          id: this.id
        })
        .then(function() {
          vm.router.push("/categories");
        });
    },

    resetFields: function() {
      this.name = null;
      this.id = null;
      this.isNewEntry = true;
    },
    loadFields() {
      this.id = this.$route.params.id;
      this.isNewEntry = this.$route.params.id == "new";
      if (this.isNewEntry) return;
      var vm = this;
      axios
        .get(BACKEND_URL + CATEGORIES_PATH + `${this.id}`)
        .then(function(response) {
          if (response.data != null) {
            vm.setCategoryData(response.data);
          }
        });
    },
    /**
     * Fills the data fields with data from a given category on page load
     * @param category
     */
    setCategoryData(category) {
      this.name = category.name;
    }
  }
};
</script>

<style scoped></style>
