<template>
  <v-container fluid id="categories">
    <section v-if="error">
      <p>Beim Laden der Kategorien ist ein Fehler aufgetreten.</p>
      <p>Eventuell kann der Server nicht erreicht werden. Siehe logs</p>
    </section>

    <section v-else>
      <v-layout row>
        <v-flex xs7>
          <div v-if="categories && categories.length == 0">
            <p class="text-xs-center subheading">
              Sie haben keine Kategorien angelegt
            </p>
          </div>
          <section v-else>
            <v-card>
              <v-card-title>
                <v-spacer></v-spacer>
                <v-text-field
                  id="tf_search"
                  v-model="search"
                  append-icon="search"
                  label="Search"
                  single-line
                  hide-details
                ></v-text-field>
              </v-card-title>
              <v-data-table
                v-model="selected"
                :headers="headers"
                :items="categories"
                :search="search"
                :pagination.sync="pagination"
                item-key="name"
                class="elevation-1"
              >
                <template slot="items" slot-scope="props">
                  <tr>
                    <td
                      :active="props.selected"
                      @click="router.push(`categoriesfunds/${props.item.id}`)"
                    >
                      {{ props.item.name }}
                    </td>
                    <td>
                      <v-btn
                        small
                        flat
                        fab
                        id="btn_edit"
                        :active="props.selected"
                        @click="router.push(`categories/${props.item.id}`)"
                      >
                        <v-icon small>edit</v-icon>
                      </v-btn>
                    </td>
                  </tr>
                </template>

                <v-alert
                  slot="no-results"
                  value="true"
                  color="error"
                  icon="warning"
                  >Ihre Suche nach "{{ search }}" hat keine Treffer
                  ergeben.</v-alert
                >
              </v-data-table>
            </v-card>
          </section>
        </v-flex>

        <v-btn
          id="btn_add"
          color="primary"
          dark
          medium
          absolute
          top
          right
          fab
          @click="addNewCategory()"
        >
          <v-icon>add</v-icon>
        </v-btn>

        <v-flex xs6>
          <v-layout row>
            <v-btn id="btn_previousMonth" flat icon @click="setPreviousMonth()">
              <v-icon>chevron_left</v-icon>
            </v-btn>
            <v-menu
              ref="dateMenu"
              :close-on-content-click="false"
              v-model="dateMenu"
              :nudge-right="40"
              lazy
              transition="scale-transition"
              offset-y
              full-width
              max-width="290px"
              min-width="290px"
            >
              <v-text-field
                id="tf_month"
                slot="activator"
                v-model="formattedMonth"
                label="Monat auswählen"
                persistent-hint
                prepend-icon="event"
                readonly
              ></v-text-field>
              <v-date-picker
                id="dp_month"
                v-model="date"
                no-title
                @input="dateMenu = false"
                type="month"
                locale="de-DE"
              ></v-date-picker>
            </v-menu>
            <v-btn id="btn_nextMonth" flat icon @click="setNextMonth()">
              <v-icon>chevron_right</v-icon>
            </v-btn>
          </v-layout>
          <v-layout column align-center>
            <v-radio-group
              v-model="selectedIncome"
              :mandatory="true"
              id="radio_income"
              @change="getSumCategoryArray(year, month)"
              row
            >
              <v-flex xs6>
                <v-radio label="Einnahmen" value="1"></v-radio>
              </v-flex>
              <v-flex xs6>
                <v-radio label="Ausgaben" value="0"></v-radio>
              </v-flex>
            </v-radio-group>
            <v-radio-group
              v-model="selectedMonth"
              :mandatory="true"
              id="radio_month"
              @change="getSumCategoryArray(year, month)"
              row
            >
              <v-radio label="Gesamtansicht" value="1"></v-radio>
              <v-radio label="Monatsansicht" value="0"></v-radio>
            </v-radio-group>
          </v-layout>
          <v-layout justify-center row>
            <v-flex xs10>
              <pie-chart
                :weidth="300"
                :height="300"
                :chart-data="chartData"
                :options="chartOptions"
              ></pie-chart>
            </v-flex>
          </v-layout>
        </v-flex>
      </v-layout>
    </section>
  </v-container>
</template>

<script>
import axios from "axios";
import router from "../router";
import {
  BACKEND_URL,
  CATEGORIES_PATH,
  FUNDS_PATH,
  CATEGORY_COLORS_PATH,
  CONFIG_PATH
} from "../backend.config";
import PieChart from "./shared/PieChart.js";
export default {
  components: {
    PieChart
  },
  props: {
    nightMode: Boolean
  },
  filters: {
    twoDecimalPlaces: function(value) {
      if (!value) return "0.00";
      return (+value).toFixed(2);
    }
  },
  data() {
    return {
      combineThreshold: 5,
      selectedIncome: "0",
      selectedMonth: "0",
      chartData: null,
      colors: [],
      //display
      error: false,
      dateMenu: false,
      //datatable
      pagination: {
        sortBy: "name",
        descending: false,
        rowsPerPage: 8
      },
      selected: [],
      search: "",
      headers: [{ text: "Kategorie", value: "name", width: "90%" }],
      categories: [],
      date: new Date().toISOString().substring(0, 10),
      router,
      newCategoryPath: "new"
    };
  },
  mounted() {
    this.loadConfig();
    this.getCategories().then(() =>
      this.getSumCategoryArray(this.year, this.month)
    );
  },
  computed: {
    chartOptions() {
      return {
        legend: {
          labels: {
            fontColor: this.nightMode
              ? "rgba(255, 255, 255, 0.7)"
              : "rgba(0, 0, 0, 0.87)"
          }
        }
      };
    },
    formattedMonth: function() {
      var options = { year: "numeric", month: "long" };
      return new Date(this.year, this.month).toLocaleString("de-DE", options);
    },
    year: function() {
      return this.date.substring(0, 4);
    },
    month: function() {
      //month offset, starting with 0
      return +this.date.substring(5, 7) - 1;
    }
  },
  methods: {
    //router behaviour - rückkehr zur selben page
    beforeRouteUpdate: function() {
      this.getCategories();
    },
    setPreviousMonth() {
      var dt = new Date(this.date);
      if (dt.getMonth() == 0)
        this.date = new Date(dt.getFullYear() - 1, 12, 1)
          .toISOString()
          .substring(0, 10);
      else {
        //it's a feature
        this.date = new Date(dt.getFullYear(), dt.getMonth(), 1)
          .toISOString()
          .substring(0, 10);
      }
      this.getSumCategoryArray(this.year, this.month);
    },
    setNextMonth() {
      var dt = new Date(this.date);
      if (dt.getMonth() == 12)
        this.date = new Date(dt.getFullYear() + 1, 0, 1)
          .toISOString()
          .substring(0, 10);
      else {
        //it's a feature
        this.date = new Date(dt.getFullYear(), dt.getMonth() + 2, 1)
          .toISOString()
          .substring(0, 10);
      }
      this.getSumCategoryArray(this.year, this.month);
    },
    getCategories() {
      this.categories = [];
      var vm = this;
      return new Promise(resolve =>
        axios.get(BACKEND_URL + CATEGORIES_PATH).then(function(response) {
          if (response.data) {
            vm.categories = response.data;
            vm.setColors();
            resolve();
          }
        })
      );
    },
    addNewCategory() {
      router.push(CATEGORIES_PATH + this.newCategoryPath);
    },
    fillData: function() {
      this.chartData = {
        labels: this.categories.map(c => c.name),
        datasets: [
          {
            label: "Data One",
            backgroundColor: this.colors,
            data: this.categories.map(c => c.sum)
          }
        ]
      };
    },
    getSumCategory: async function(categoryId, valueIncome, valueMonth) {
      // Einnahme und Monat
      if (valueIncome && valueMonth) {
        let response = await axios.get(
          BACKEND_URL + FUNDS_PATH + "sumCategoryMonthIncome",
          {
            params: {
              categoryId: categoryId,
              year: this.year,
              month: this.month
            }
          }
        );
        return Math.round(response.data.incomeSum * 100) / 100;
      }

      // Einnahme und gesamt
      if (valueIncome && !valueMonth) {
        let response = await axios.get(
          BACKEND_URL + FUNDS_PATH + "sumCategoryIncome",
          {
            params: {
              categoryId: categoryId
            }
          }
        );
        return Math.round(response.data.incomeSum * 100) / 100;
      }
      // Ausgabe und Monat
      if (!valueIncome && valueMonth) {
        let response = await axios.get(
          BACKEND_URL + FUNDS_PATH + "sumCategoryMonthExpense",
          {
            params: {
              categoryId: categoryId,
              year: this.year,
              month: this.month
            }
          }
        );
        return Math.round(response.data.expenseSum * 100) / 100;
      }

      // Ausgabe und gesamt
      if (!valueIncome && !valueMonth) {
        let response = await axios.get(
          BACKEND_URL + FUNDS_PATH + "sumCategoryExpense",
          {
            params: {
              categoryId: categoryId
            }
          }
        );
        return Math.round(response.data.expenseSum * 100) / 100;
      }
    },
    async getSumCategoryArray(year, month) {
      let sumCombined = 0;
      let sumOfSums = 0;
      // Künstliche Kategorie wieder rausnehmen
      this.categories = this.categories.filter(c => c.id !== -1);
      for (let i = 0; i < this.categories.length; i++) {
        let sum = await this.getSumCategory(
          this.categories[i].id,
          this.selectedIncome === "1",
          this.selectedMonth === "0",
          year,
          month
        );
        sumOfSums += sum;
        this.categories[i].sum = sum;
      }
      let threshold = Math.abs(sumOfSums) * (this.combineThreshold / 100);
      for (let j = 0; j < this.categories.length; j++) {
        if (Math.abs(this.categories[j].sum) < threshold) {
          sumCombined += Math.abs(this.categories[j].sum);
          this.categories[j].sum = 0;
        }
      }
      if (sumCombined !== 0) {
        this.categories.push({
          name: `Sonstige (<${this.combineThreshold}%)`,
          sum: Math.round(sumCombined * 100) / 100,
          id: -1
        });
      }
      this.fillData();
    },
    /* generiert Liste an Farben mit Anzahl entsprechend Anzahl Elemente in Kategorieliste */
    setColors: function() {
      if (this.categories.length === 0) {
        return [];
      }
      var vm = this;

      axios
        .get(BACKEND_URL + CATEGORY_COLORS_PATH + "getColors")
        .then(function(response) {
          if (response.data && response.data.colors) {
            vm.colors = response.data.colors;
            // if the pie chart is already constructed, the colors have to be set here1
            if (vm.chartData) {
              vm.chartData.datasets[0].backgroundColor = vm.colors;
            }
          } else {
            vm.error = true;
          }
        });
    },
    loadConfig() {
      axios
        .get(BACKEND_URL + CONFIG_PATH)
        .then(response => {
          this.combineThreshold = response.data.config.combineThreshold;
        })
        .catch(err => {
          console.log(err);
          this.combineThreshold = 5;
        });
    }
  }
};
</script>

<style scoped></style>
