<template>
  <div>
    <v-alert :value="alert" color="error" icon="warning">
      {{ alertMessage }}
    </v-alert>
    <v-layout column justify-center align-left style="padding:20px;">
      <v-flex xs12>
        <p
          class="body-2 text-xs-left"
          style="padding-bottom:0px;margin-bottom:0px;"
        >
          Darstellung
        </p>
        <v-divider> </v-divider>
      </v-flex>
      <v-layout row align-center fill-height>
        <v-flex xs3>
          <span class="subheading text-xs-center">
            Schwellwert zum Zusammenfassen der Kategorien
          </span>
        </v-flex>
        <v-flex xs1 offset-xs1>
          <v-text-field
            id="tf_threshold"
            v-model="config.combineThreshold"
            type="number"
            max="20"
            min="1"
            suffix="%"
            @input="dirty = true"
            style="width:60px;"
          ></v-text-field>
        </v-flex>
      </v-layout>
      <v-layout row align-center fill-height>
        <v-flex xs2>
          <span class="subheading text-xs-center">
            Modus
          </span>
        </v-flex>
        <v-radio-group
          v-model="nightMode"
          :mandatory="true"
          @change="changeMode"
          row
        >
          <v-radio label="Tagmodus" value="0"></v-radio>
          <v-radio label="Nachtmodus" value="1"></v-radio>
        </v-radio-group>
      </v-layout>
      <v-layout row align-center justify-left style="margin-top:20px;">
        <v-flex xs6>
          <v-layout row align-center justify-center>
            <v-btn :disabled="!dirty" @click="update">
              Übernehmen
            </v-btn>
          </v-layout>
        </v-flex>
      </v-layout>
    </v-layout>
  </div>
</template>

<script>
import axios from "axios";
import { BACKEND_URL, CONFIG_PATH } from "../backend.config";
export default {
  mounted() {
    this.loadConfig();
  },
  data() {
    return {
      alert: false,
      alertMessage: "",
      config: {},
      dirty: false,
      nightMode: 0
    };
  },
  methods: {
    changeMode() {
      this.dirty = true;
      this.$emit("changeMode", this.nightMode === "1");
    },
    loadConfig() {
      axios
        .get(BACKEND_URL + CONFIG_PATH)
        .then(response => {
          this.config = response.data.config;
          this.nightMode = response.data.config.nightMode ? "1" : "0";
          this.$emit("changeMode", response.data.config.nightMode);
        })
        .catch(err =>
          this.errorHandling(err, "Fehler beim Laden der Konfiguration")
        );
    },
    update() {
      axios
        .post(BACKEND_URL + CONFIG_PATH, {
          combineThreshold: this.config.combineThreshold,
          nightMode: this.nightMode === "1"
        })
        .then(() => {
          this.dirty = false;
        })
        .catch(err =>
          this.errorHandling(
            err,
            "Einstellungen konnten nicht gespeicher werden"
          )
        );
    },
    errorHandling(error, message) {
      console.error(error);
      this.alert = true;
      this.alertMessage = message;
    }
  }
};
</script>
