<template>
  <v-container>
    <v-alert :value="alert" color="error" icon="warning">
      {{ alertMessage }}
    </v-alert>
    <v-layout column justify-space-between>
      <v-layout row fill-height pb-1>
        <v-flex xs9>
          <v-card>
            <v-layout column justify-space-around>
              <v-card-title class="headline"> Geldströme</v-card-title>
              <v-layout column fill-height>
                <v-layout
                  row
                  align-center
                  justify-space-around
                  style="margin-left:15px;margin-right:15px;"
                  fill-height
                >
                  <v-btn
                    small
                    @click="chooseScope = true"
                    v-if="!chooseScope"
                    outline
                  >
                    {{
                      scopeIsWithinCurrentYear
                        ? scopeStart.format("DD.MM")
                        : scopeStart.format("DD.MM.YYYY")
                    }}
                    -
                    {{
                      scopeIsWithinCurrentYear
                        ? scopeEnd.format("DD.MM")
                        : scopeEnd.format("DD.MM.YYYY")
                    }}
                    {{ scope === 0 ? `(KW ${scopeStart.format("w")})` : "" }}
                  </v-btn>
                  <v-spacer v-if="!chooseScope"> </v-spacer>
                  <span v-if="!chooseScope">
                    <v-layout row align-center>
                      <span class="subheading">
                        Ausgaben:
                        {{
                          (Math.round(scopeExpense * 100) / 100)
                            | twoDecimalPlaces
                        }}€
                      </span>
                      <span
                        class="subheading"
                        style="margin-left:15px;margin-right:15px;"
                      >
                        Einnahmen:
                        {{
                          (Math.round(scopeIncome * 100) / 100)
                            | twoDecimalPlaces
                        }}€
                      </span>
                      <span class="subheading">
                        Bilanz:
                        {{
                          (Math.round(scopeBalance * 100) / 100)
                            | twoDecimalPlaces
                        }}€</span
                      >
                    </v-layout>
                  </span>
                  <v-btn-toggle
                    v-model="scopeOrigin"
                    v-if="chooseScope"
                    style="margin-left:15px;"
                    mandatory
                    @change="changeScope"
                  >
                    <v-btn small> Woche</v-btn>
                    <v-btn small> Monat</v-btn>
                    <v-btn small> Jahr</v-btn>
                  </v-btn-toggle>
                  <v-menu
                    v-if="chooseScope && !showYearPicker"
                    :close-on-content-click="true"
                    v-model="firstPicker"
                    :nudge-right="10"
                    absolute
                    offset-y
                    offset-x
                    transition="scale-transition"
                    full-width
                    min-width="290px"
                    :reactive="true"
                  >
                    <v-btn small id="btn_PickDate1" slot="activator" outline>
                      {{ firstPickerText }}
                    </v-btn>
                    <v-date-picker
                      id="dp_firstBookingDate"
                      v-model="scopeMonth"
                      @input="firstPicker = false"
                      :first-day-of-week="1"
                      locale="de-DE"
                      :max="
                        moment()
                          .endOf('month')
                          .format('YYYY-MM-DD')
                      "
                      no-title
                      :reactive="true"
                      :type="firstPickerType"
                      :allowed-dates="allowedDates"
                    ></v-date-picker>
                  </v-menu>
                  <v-menu
                    v-if="showYearPicker"
                    :close-on-content-click="true"
                    v-model="dateMenuScope"
                    :nudge-right="10"
                    absolute
                    offset-y
                    offset-x
                    transition="scale-transition"
                    full-width
                    min-width="290px"
                  >
                    <v-btn
                      small
                      id="tf_firstBookingDate"
                      slot="activator"
                      outline
                    >
                      {{ moment(scopeYear).format("YYYY") }}
                    </v-btn>
                    <v-date-picker
                      id="dp_firstBookingDate"
                      v-model="scopeYear"
                      @input="dateMenuScope = false"
                      :first-day-of-week="1"
                      locale="de-DE"
                      ref="picker"
                      :max="moment().format('YYYY-MM-DD')"
                      no-title
                      :reactive="true"
                    ></v-date-picker>
                  </v-menu>
                  <v-spacer> </v-spacer>
                  <v-btn small @click="applyScopeChange" v-if="chooseScope">
                    Übernehmen
                  </v-btn>
                  <v-btn small @click="reverseScopeChange" v-if="chooseScope">
                    Abbrechen
                  </v-btn>
                </v-layout>
                <v-flex xs8>
                  <bar-chart
                    :chart-data="barChart.chartData"
                    :options="barChart.chartOptions"
                    :height="300"
                  ></bar-chart>
                </v-flex>
              </v-layout>
            </v-layout>
          </v-card>
        </v-flex>
        <v-flex xs3>
          <v-layout column style="height:100%;">
            <v-card style="margin:0px 0px 8px 10px;">
              <v-card-title class="subheading">
                <v-layout row justify-center>
                  Top Ausgaben (Kategorien)
                </v-layout>
              </v-card-title>
              <v-divider> </v-divider>
              <v-list v-if="topCategories.length > 0">
                <v-list-tile v-for="(category, i) in topCategories" :key="i">
                  {{
                    `${i + 1}. ${category.name} (${(+category.sum).toFixed(
                      2
                    )}€)`
                  }}
                </v-list-tile>
              </v-list>
              <v-list v-else>
                <v-list-tile>
                  Keine Kategorien vorhanden
                </v-list-tile>
                <!-- 2x leere tile damit layout gleich bleibt -->
                <v-list-tile> </v-list-tile>
                <v-list-tile> </v-list-tile>
              </v-list>
            </v-card>
            <v-card style="margin:10px 0px 10px 10px;">
              <v-card-title class="subheading text-xs-center">
                <v-layout row justify-center>
                  <span>Maxima </span>
                </v-layout>
              </v-card-title>
              <v-divider> </v-divider>
              <v-list>
                <v-list-tile v-if="dateMaxIncome">
                  <span>
                    Einnahme:
                  </span>
                  <v-spacer></v-spacer>
                  <span class="text-xs-center">
                    {{
                      (Math.round(maxIncome * 100) / 100) | twoDecimalPlaces
                    }}€ ({{
                      scopeIsWithinCurrentYear
                        ? dateMaxIncome.format("DD.MM")
                        : dateMaxIncome.format("DD.MM.YY")
                    }})
                  </span>
                </v-list-tile>
                <v-list-tile v-else>
                  Keine Einnahmen vorhanden
                </v-list-tile>
                <v-list-tile v-if="dateMaxExpense">
                  <span> Ausgabe:</span>
                  <v-spacer></v-spacer>
                  <span class="text-xs-center">
                    {{
                      (Math.round(maxExpense * 100) / 100) | twoDecimalPlaces
                    }}€ ({{
                      scopeIsWithinCurrentYear
                        ? dateMaxExpense.format("DD.MM")
                        : dateMaxExpense.format("DD.MM.YY")
                    }})
                  </span>
                </v-list-tile>
                <v-list-tile v-else>
                  Keine Ausgaben vorhanden
                </v-list-tile>
              </v-list>
            </v-card>
          </v-layout>
        </v-flex>
      </v-layout>
      <v-card>
        <v-card-title class="headline" v-if="!nextTarget">
          Kein Planziel vorhanden
        </v-card-title>
        <v-card-title class="headline" v-else>
          Planziel von
          {{ moment(this.nextTarget.startDate).format("DD.MM.YYYY") }} bis
          {{ moment(this.nextTarget.dueDate).format("DD.MM.YYYY") }}
        </v-card-title>
        <line-chart
          :height="300"
          :chart-data="lineChart.chartData"
          :options="lineChart.chartOptions"
          v-if="nextTarget"
        ></line-chart>
      </v-card>
    </v-layout>
  </v-container>
</template>

<script>
import BarChart from "./shared/BarChart.js";
import LineChart from "./shared/LineChart.js";
import moment from "moment";
import axios from "axios";
import {
  BACKEND_URL,
  FUNDS_PATH,
  REGULAR_FUNDS_PATH,
  PLANNING_TARGETS_PATH,
  CATEGORIES_PATH
} from "../backend.config";

moment.locale("de");

export default {
  components: {
    BarChart,
    LineChart
  },
  mounted() {
    this.loadPlanData().then(() => {
      if (this.nextTarget) this.getPlanPeriodData();
    });
    this.loadFunds();
    this.loadTopCategoryExpenses();
  },
  watch: {
    scopeOrigin(val) {
      this.dateMenuScope = val === "2";
    },
    dateMenuScope(val) {
      this.$refs.picker.activePicker = val ? "YEAR" : "DATE";
    },
    funds() {
      // hier wird mit temporären vars gearbeitet, da ggf. viele Funds verarbeitet werden müssen
      let sumExpenses = 0;
      let sumIncomes = 0;
      let maxIncome = 0;
      let maxExpense = 0;
      let dateMaxIncome, dateMaxExpense;
      for (let index = 0; index < this.funds.length; index++) {
        const fund = this.funds[index];
        if (+fund.value > 0) {
          sumIncomes += +fund.value;
          if (+fund.value > maxIncome) {
            maxIncome = +fund.value;
            dateMaxIncome = moment(fund.date);
          }
        } else {
          sumExpenses -= +fund.value;
          if (-fund.value > maxExpense) {
            maxExpense = -fund.value;
            dateMaxExpense = moment(fund.date);
          }
        }
      }
      this.scopeExpense = sumExpenses;
      this.scopeIncome = sumIncomes;
      this.maxIncome = maxIncome;
      this.dateMaxIncome = dateMaxIncome;
      this.maxExpense = maxExpense;
      this.dateMaxExpense = dateMaxExpense;

      let start = moment(this.scopeStart);
      let end = moment(this.scopeEnd);
      let incomes = 0;
      let expenses = 0;
      // Wochenansicht
      if (this.scope === 0) {
        this.barChart.incomeData = [];
        this.barChart.expenseData = [];
        this.barChart.chartLabel = [];
        while (start.isBefore(end)) {
          incomes = 0;
          expenses = 0;
          this.barChart.chartLabel.push(start.format("DD.MM"));
          for (let index = 0; index < this.funds.length; index++) {
            const fund = this.funds[index];
            if (
              fund.value > 0 &&
              moment(fund.date).format("DD.MM") === start.format("DD.MM")
            ) {
              incomes += parseFloat(fund.value);
            }
            if (
              fund.value < 0 &&
              moment(fund.date).format("DD.MM") === start.format("DD.MM")
            ) {
              expenses += parseFloat(fund.value);
            }
          }
          start.add(1, "days");
          this.barChart.incomeData.push(Math.round(incomes * 100) / 100);
          this.barChart.expenseData.push(Math.round(expenses * -1 * 100) / 100);
        }
      } else {
        // Monatsansicht
        if (this.scope === 1) {
          this.barChart.chartLabel = [];
          this.barChart.incomeData = [];
          this.barChart.expenseData = [];
          while (start.isBefore(end)) {
            incomes = 0;
            expenses = 0;
            let label = "KW " + start.format("w");
            this.barChart.chartLabel.push(label);
            for (let index = 0; index < this.funds.length; index++) {
              const fund = this.funds[index];
              if (
                fund.value > 0 &&
                moment(fund.date).format("w") === start.format("w")
              ) {
                incomes += parseFloat(fund.value);
              }
              if (
                fund.value < 0 &&
                moment(fund.date).format("w") === start.format("w")
              ) {
                expenses += parseFloat(fund.value);
              }
            }
            start.add(7, "days");
            this.barChart.incomeData.push(Math.round(incomes * 100) / 100);
            this.barChart.expenseData.push(
              Math.round(expenses * -1 * 100) / 100
            );
          }
        }
        // Jahresansicht
        else {
          this.barChart.chartLabel = [
            "Januar",
            "Februar",
            "März",
            "April",
            "Mai",
            "Juni",
            "Juli",
            "August",
            "September",
            "Oktober",
            "November",
            "Dezember"
          ];
          this.barChart.incomeData = [];
          this.barChart.expenseData = [];
          for (let i = 1; i < 13; i++) {
            incomes = 0;
            expenses = 0;
            for (let index = 0; index < this.funds.length; index++) {
              const fund = this.funds[index];
              if (fund.value > 0 && moment(fund.date).format("M") == i) {
                incomes += parseFloat(fund.value);
              }
              if (fund.value < 0 && moment(fund.date).format("M") == i) {
                expenses += parseFloat(fund.value);
              }
            }
            this.barChart.incomeData.push(Math.round(incomes * 100) / 100);
            this.barChart.expenseData.push(
              Math.round(expenses * -1 * 100) / 100
            );
          }
        }
      }
      this.fillBarData();
    }
  },
  computed: {
    firstPickerText() {
      let txt = moment(this.scopeMonth).format("MMMM YYYY");
      if (this.scopeOrigin === 0) {
        txt = `KW ${moment(this.scopeMonth).format("w")} ` + txt;
      }
      return txt;
    },
    showYearPicker() {
      return this.chooseScope && this.scopeOrigin === 2;
    },
    firstPickerType() {
      return this.scopeOrigin === 1 ? "month" : "date";
    },
    weekOrMonthOrYearString() {
      return this.scope === 0
        ? "Kalenderwoche"
        : this.scope == 1
        ? "Monat"
        : "Jahr";
    },
    scopeBalance() {
      return this.scopeIncome - this.scopeExpense;
    },
    scopeIsWithinCurrentYear() {
      return (
        this.scopeStart.diff(moment().startOf("year"), "seconds") >= 0 &&
        moment()
          .endOf("year")
          .diff(this.scopeEnd, "seconds") >= 0
      );
    }
  },
  data() {
    return {
      scopeMonth: moment()
        .startOf("isoWeek")
        .format("YYYY-MM-DD"),
      scopeYear: moment().format("YYYY-MM-DD"),
      dateMenuScope: false,
      firstPicker: false,
      moment,
      chooseScope: false,
      scope: 0,
      scopeOrigin: 0,
      scopeStart: moment().startOf("isoWeek"),
      scopeEnd: moment().endOf("isoWeek"),
      scopeExpense: 0.0,
      scopeIncome: 0.0,
      maxIncome: 0.0,
      dateMaxIncome: null,
      maxExpense: 0.0,
      dateMaxExpense: null,
      alert: false,
      alertMessage: "",
      nextTarget: {},
      funds: [],
      topCategories: [],
      barChart: {
        chartOptions: {
          maintainAspectRatio: false,
          scales: {
            yAxes: [
              {
                ticks: {
                  beginAtZero: true
                },
                gridLines: {
                  display: true
                }
              }
            ],
            xAxes: [
              {
                ticks: {
                  beginAtZero: true
                },
                gridLines: {
                  display: false
                }
              }
            ]
          }
        },
        incomeData: [],
        expenseData: [],
        chartLabel: [],
        chartData: []
      },
      lineChart: {
        chartOptions: {
          maintainAspectRatio: false,
          elements: {
            line: {
              tension: 0.1
            }
          },
          scales: {
            yAxes: [
              {
                ticks: {
                  beginAtZero: true
                },
                gridLines: {
                  display: true
                }
              }
            ],
            xAxes: [
              {
                ticks: {
                  beginAtZero: true
                },
                gridLines: {
                  display: false
                }
              }
            ]
          }
        },
        chartData: null,
        fundsData: [],
        regularfundsData: [],
        chartLabel: [],
        planPeriodTarget: [],
        planPeriodData: [],
        planFuturePeriodData: []
      }
    };
  },
  methods: {
    fillBarData: function() {
      this.barChart.chartData = {
        labels: this.barChart.chartLabel,
        datasets: [
          {
            label: "Einnahmen",
            backgroundColor: "#00FF00",
            data: this.barChart.incomeData
          },
          {
            label: "Ausgaben",
            backgroundColor: "#FF0000",
            data: this.barChart.expenseData
          }
        ]
      };
    },
    loadFunds() {
      axios
        .get(BACKEND_URL + FUNDS_PATH + `range`, {
          params: {
            from: moment(this.scopeStart).toDate(),
            to: moment(this.scopeEnd).toDate()
          }
        })
        .then(response => {
          this.funds = response.data.funds;
        })
        .catch(error =>
          this.errorHandling(error, "Geldströme konnten nicht geladen werden.")
        );
    },
    allowedDates(val) {
      if (this.scopeOrigin === 0) {
        //Wähle Woche => Nur Montags
        return +moment(val).format("d") === 1;
      } else {
        //Wähle Monat => Alle Werte, da nur Monate angezeigt werden
        return true;
      }
    },
    applyScopeChange() {
      this.scope = this.scopeOrigin;
      this.chooseScope = false;
      if (this.scope === 0) {
        this.scopeStart = moment(this.scopeMonth).startOf("isoWeek");
        if (moment().subtract(moment(this.scopeMonth), "seconds") <= 0) {
          this.scopeEnd = moment();
        } else {
          this.scopeEnd = moment(this.scopeMonth).endOf("week");
        }
      } else if (this.scope === 1) {
        this.scopeStart = moment(this.scopeMonth, "YYYY-MM").startOf("month");
        if (moment().format("YYYY-MM") === this.scopeMonth) {
          this.scopeEnd = moment();
        } else {
          this.scopeEnd = moment(this.scopeMonth, "YYYY-MM").endOf("month");
        }
      } else {
        this.scopeStart = moment(this.scopeYear);
        if (moment().format("YYYY") === moment(this.scopeYear).format("YYYY")) {
          this.scopeEnd = moment();
        } else {
          this.scopeEnd = moment(this.scopeYear).endOf("year");
        }
      }
      this.changeScope();
      this.loadFunds();
      this.loadTopCategoryExpenses();
      this.loadPlanData();
    },
    reverseScopeChange() {
      this.scopeOrigin = this.scope;
      this.chooseScope = false;
      this.changeScope();
    },
    changeScope() {
      this.scopeYear = moment(this.scopeStart)
        .startOf("year")
        .format("YYYY-MM-DD");
      this.scopeMonth = moment(this.scopeStart)
        .startOf("isoWeek")
        .format("YYYY-MM-DD");
    },
    loadPlanningTarget() {
      return axios
        .get(BACKEND_URL + PLANNING_TARGETS_PATH + `nextDueTarget`, {
          params: {
            startDate: new Date()
          }
        })
        .then(response => {
          if (
            response.data != null &&
            response.data.targets &&
            response.data.targets[0]
          ) {
            this.nextTarget = response.data.targets[0];
          } else {
            this.nextTarget = null;
          }
        })
        .catch(error =>
          this.errorHandling(
            error,
            "Das nächste Planziel konnte nicht geladen werden."
          )
        );
    },
    loadPlanData() {
      return this.loadPlanningTarget()
        .then(() => {
          if (this.nextTarget) {
            let loadFunds = this.getFunds(FUNDS_PATH).then(response => {
              this.lineChart.fundsData = response.data.funds;
            });
            let loadRegularFunds = this.getFunds(REGULAR_FUNDS_PATH).then(
              response => {
                this.lineChart.regularfundsData = response.data.regularfunds;
              }
            );
            return Promise.all([loadFunds, loadRegularFunds])
              .then(() => (this.loading = false))
              .catch(e =>
                this.errorHandling(
                  e,
                  "Planzieldaten konnten nicht geladen werden."
                )
              );
          }
        })
        .catch(e =>
          this.errorHandling(e, "Planzieldaten konnten nicht geladen werden.")
        );
    },
    getFunds(endPoint) {
      return axios
        .get(BACKEND_URL + `${endPoint}range`, {
          params: {
            from: this.nextTarget.startDate,
            to: this.nextTarget.dueDate
          }
        })
        .catch(e => this.errorHandling(e));
    },
    getPlanPeriodData: function() {
      let start = moment(this.nextTarget.startDate);
      let futureStart = moment(this.nextTarget.startDate);
      let end = moment(this.nextTarget.dueDate);
      let target = this.nextTarget.value;
      let current = 0;
      this.lineChart.chartLabel = [];
      this.lineChart.planPeriodData = [];
      // Planziel
      while (start.isBefore(end)) {
        this.lineChart.chartLabel.push(start.format("DD.MM"));
        this.lineChart.planPeriodTarget.push(target);
        start.add(1, "days");
      }
      // Guthaben
      while (futureStart.isSameOrBefore(moment())) {
        this.lineChart.fundsData
          .filter(
            item =>
              moment(item.date).format("DD.MM") === futureStart.format("DD.MM")
          )
          .map(item => (current += parseFloat(item.value)));
        this.lineChart.planPeriodData.push(+current.toFixed(2));
        futureStart.add(1, "days");
        this.lineChart.planFuturePeriodData.push(null);
      }
      //Ausstehende Geldströme
      futureStart.subtract(1, "days");
      this.lineChart.planFuturePeriodData.pop();
      while (futureStart.isSameOrBefore(end)) {
        if (futureStart.isAfter(moment())) {
          this.lineChart.fundsData
            .filter(
              item =>
                moment(item.date).format("DD.MM") ===
                futureStart.format("DD.MM")
            )
            .map(item => (current += parseFloat(item.value)));
        }
        this.lineChart.regularfundsData
          .filter(
            item =>
              moment(item.date).format("DD.MM") === futureStart.format("DD.MM")
          )
          .map(item => (current += parseFloat(item.value)));
        futureStart.add(1, "days");
        this.lineChart.planFuturePeriodData.push(+current.toFixed(2));
      }
      this.fillLineChart();
    },
    fillLineChart: function() {
      this.lineChart.chartData = {
        labels: this.lineChart.chartLabel,
        datasets: [
          {
            label: "Planziel",
            borderColor: "#0000FF",
            borderDash: [15, 5],
            data: this.lineChart.planPeriodTarget,
            radius: 0
          },
          {
            label: "Guthaben",
            backgroundColor: "#00FF00",
            data: this.lineChart.planPeriodData
          },
          {
            label: "Ausstehende Geldströme",
            borderColor: "#44EE44",
            data: this.lineChart.planFuturePeriodData
          }
        ]
      };
    },
    errorHandling(error, message) {
      console.error(error);
      this.alert = true;
      this.alertMessage = message;
    },
    loadTopCategoryExpenses() {
      axios
        .get(BACKEND_URL + CATEGORIES_PATH + `expensesInRange`, {
          params: {
            from: moment(this.scopeStart).toDate(),
            to: moment(this.scopeEnd).toDate(),
            limit: 3
          }
        })
        .then(response => {
          this.topCategories = response.data.categories;
        })
        .catch(error =>
          this.errorHandling(
            error,
            "Das Top Kategorien konnten nicht geladen werden."
          )
        );
    }
  },
  filters: {
    twoDecimalPlaces: function(value) {
      if (!value) return "0.00";
      return (+value).toFixed(2);
    }
  }
};
</script>
