<template>
  <v-container fluid id="favorites">
    <section v-if="error">
      <p>Beim Laden der Favoriten ist ein Fehler aufgetreten.</p>
      <p>Eventuell kann der Server nicht erreicht werden. Siehe logs</p>
    </section>

    <section v-else>
      <v-layout row>
        <v-flex xs12>
          <div v-if="favorites && favorites.length == 0">
            <p class="text-xs-center subheading">
              Sie haben keine Favoriten angelegt
            </p>
          </div>
          <section v-else>
            <v-card>
              <v-card-title>
                <v-spacer></v-spacer>
                <v-text-field
                  id="tf_search"
                  v-model="search"
                  append-icon="search"
                  label="Search"
                  single-line
                  hide-details
                ></v-text-field>
              </v-card-title>
              <v-data-table
                v-model="selected"
                :headers="headers"
                :items="favorites"
                :search="search"
                :pagination.sync="pagination"
                item-key="description"
                class="elevation-1"
              >
                <template slot="items" slot-scope="props">
                  <tr
                    :active="props.selected"
                    @click="router.push(`favorites/${props.item.id}`)"
                  >
                    <td>{{ props.item.description }}</td>
                    <td>{{ categoryName(props.item.categoryId) }}</td>
                    <td class="text-xs-right">
                      {{ monetaryString(props.item.value, true) }}
                    </td>
                  </tr>
                </template>

                <v-alert
                  slot="no-results"
                  value="true"
                  color="error"
                  icon="warning"
                >
                  Ihre Suche nach "{{ search }}" hat keine Treffer ergeben.
                </v-alert>
              </v-data-table>
            </v-card>
          </section>
        </v-flex>

        <v-btn
          id="btn_add"
          color="primary"
          dark
          medium
          absolute
          top
          right
          fab
          @click="addNewFavorit()"
        >
          <v-icon>add</v-icon>
        </v-btn>
      </v-layout>
    </section>
  </v-container>
</template>

<script>
import axios from "axios";
import router from "../router";
import { monetary } from "../mixins/monetary";
import {
  BACKEND_URL,
  FAVORITES_PATH,
  CATEGORIES_PATH
} from "../backend.config";
export default {
  mixins: [monetary],
  data() {
    return {
      //display
      error: false,
      //datatable
      pagination: {
        sortBy: "description",
        descending: false,
        rowsPerPage: 9
      },
      selected: [],
      search: "",
      headers: [
        {
          text: "Beschreibung",
          value: "description",
          align: "left",
          width: "42%"
        },
        { text: "Kategorie", value: "categoryId", align: "left", width: "42%" },
        { text: "Betrag", value: "value", align: "right", width: "16%" }
      ],
      favorites: [],
      categoryMap: new Map(),
      date: new Date().toISOString().substring(0, 10),
      router,
      newFavoritePath: "new"
    };
  },
  mounted() {
    //to display the names of categories
    this.getCategories();
    this.getFavorites();
  },
  methods: {
    //router behaviour - rückkehr zur selben page
    beforeRouteUpdate: function() {
      //to display the names of categories
      this.getCategories();
      this.getFavorites();
    },
    getFavorites() {
      this.favorites = [];
      var vm = this;
      return axios
        .get(BACKEND_URL + FAVORITES_PATH)
        .then(function(response) {
          if (response.data) {
            vm.favorites = response.data;
          }
        })
        .catch(err => console.log(err));
    },
    categoryName: function(value) {
      //not in a category:
      if (!value || value == null || value == 0) return "";
      if (this.categoryMap.has(value)) return this.categoryMap.get(value);
      //if not found, reload:
      var vm = this;
      this.getCategories().then(function() {
        if (!vm.categoryMap.has(value)) return "gelöschte Kategorie";
        return vm.categoryMap.get(value);
      });
    },
    getCategories() {
      this.categoryMap.clear();
      var vm = this;
      return axios.get(BACKEND_URL + CATEGORIES_PATH).then(function(response) {
        if (response.data != null) {
          response.data.forEach(cat => vm.categoryMap.set(cat.id, cat.name));
        }
      });
    },
    addNewFavorit() {
      router.push(FAVORITES_PATH + this.newFavoritePath);
    }
  }
};
</script>

<style scoped></style>
