<template>
  <v-container fluid id="favoritesCRUD">
    <v-layout row wrap align-center>
      <v-flex xs8 offset-xs1>
        <v-form ref="form" v-model="formValid" lazy-validation>
          <v-combobox
            id="cb_description"
            v-model="description"
            :filter="descriptionFilter"
            :rules="descriptionRules"
            label="Beschreibung"
            counter="255"
            required
            autofocus
            :search-input.sync="descriptionSearch"
            :loading="loadingRecommendations"
            :items="recommendationsDescriptions"
            hide-no-data
            @input="fillFieldsWithRecommendation"
            @keyup.enter="focusCategory"
            ref="descriptionField"
          >
          </v-combobox>
          <!-- kategorie -->
          <v-select
            id="select_category"
            v-model="selectedCategoryId"
            :items="categories"
            label="Kategorie"
            item-value="id"
            item-text="name"
            clearable
            ref="categoryField"
          >
          </v-select>
          <v-layout xs12 sm6 align-center justify-center>
            <v-flex xs2>
              <v-btn id="btn_remove">
                <v-icon>remove</v-icon>
              </v-btn>
            </v-flex>
            <v-flex xs10>
              <v-text-field
                id="tf_value"
                :value="value"
                label="Betrag"
                suffix="€"
                @input="valueInput(value, $event)"
                :rules="numberRules"
              ></v-text-field>
            </v-flex>
          </v-layout>
        </v-form>
        <v-layout row justify-space-between>
          <div v-if="!isNewEntry">
            <v-btn
              id="btn_delete"
              :disabled="!formValid"
              @click="deleteFavorite()"
            >
              <v-icon flat>delete_forever</v-icon>Löschen
            </v-btn>
          </div>

          <v-spacer></v-spacer>

          <v-btn id="btn_upsert" @click="upsertFavorite()">
            <v-icon flat>star_border</v-icon>Speichern
          </v-btn>
          <v-btn id="btn_cancel" @click="router.push('/favorites')">
            <v-icon>cancel</v-icon>Abbrechen
          </v-btn>
        </v-layout>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import axios from "axios";
import router from "../router";
import { monetary } from "../mixins/monetary";
import {
  BACKEND_URL,
  CATEGORIES_PATH,
  FAVORITES_PATH,
  FUNDS_PATH
} from "../backend.config";
export default {
  mixins: [monetary],
  data() {
    return {
      //display
      loading: true,
      loadingRecommendations: false,
      descriptionSearch: null,
      recommendations: [],
      error: false,
      formValid: true,
      //form validation
      descriptionRules: [
        v => !!v || "Die Beschreibung muss angegeben werden",
        v =>
          (v && v.length <= 255) ||
          "Die Beschreibung darf maximal 255 Zeichen haben."
      ],
      numberRules: [
        v => !!v || "Es muss ein Betrag angegeben werden.",
        v => !isNaN(v) || "Der Wert muss eine Zahl sein."
      ],
      //data
      isNewEntry: false,
      description: null,
      value: 0.0,
      id: null,
      //categories available in select box
      categories: [],
      selectedCategoryId: null,
      //navigation
      router
    };
  },
  computed: {
    recommendationsDescriptions: function() {
      return this.recommendations.map(rec => rec.description);
    }
  },
  watch: {
    descriptionSearch(searchInput) {
      this.description = searchInput;
      if (this.id !== "new") return;
      this.loadingRecommendations = true;
      let self = this;
      let data = {
        partlyDescription: searchInput,
        onlyFavorites: this.showFavorites
      };
      if (this.selectedCategoryId) {
        data.categoryId = this.selectedCategoryId;
      }
      if (!searchInput) {
        self.loadingRecommendations = false;
        self.recommendations = [];
      } else {
        axios
          .post(BACKEND_URL + FUNDS_PATH + "recommend", data)
          .then(result => {
            self.loadingRecommendations = false;
            self.recommendations = result.data.recommendations;
          })
          .catch(err => {
            console.error(err);
            self.loadingRecommendations = false;
          });
      }
    }
  },
  mounted() {
    this.resetFields();
    if (!this.isNewEntry) {
      this.loadFields();
    }
  },
  beforeRouteEnter: function(to, from, next) {
    next(vm => {
      vm.resetFields();
      vm.loadFields();
      next();
    });
  },
  beforeRouteUpdate: function(to, from, next) {
    next(vm => {
      vm.resetFields();
      vm.loadFields();
      next();
    });
  },
  methods: {
    focusCategory: function() {
      this.$refs.descriptionField.blur();
      this.$refs.categoryField.focus();
    },
    fillFieldsWithRecommendation: function(input) {
      let recommendation = this.recommendations.filter(
        rec => rec.description === input
      )[0];
      if (!recommendation) {
        return;
      }
      recommendation.value = recommendation.value || 0;
      this.setFavoriteData(recommendation);
    },
    // default Filter deaktivieren, echter filter in descriptionSearch() implementiert
    descriptionFilter() {
      return true;
    },
    upsertFavorite() {
      var vm = this;
      if (this.$refs.form.validate()) {
        //disable buttons to stop fast clicking
        this.formValid = false;
        axios
          .post(BACKEND_URL + FAVORITES_PATH + "replaceOrCreate", {
            value: -this.value,
            description: this.description,
            categoryId: this.selectedCategoryId,
            id: this.id === "new" ? null : this.id
          })
          .then(function() {
            vm.router.push("/favorites");
          })
          .catch(function(error) {
            console.log(error);
          });
      }
    },
    deleteFavorite() {
      if (this.id === null) return;
      this.formValid = false;
      var vm = this;
      axios
        .get(BACKEND_URL + FAVORITES_PATH + "deleteFavoriteWithReferences", {
          params: {
            id: this.id
          }
        })
        .then(function() {
          vm.router.push("/favorites");
        });
    },
    resetFields: function() {
      this.value = 0.0;
      this.description = null;
      this.selected_category = { id: null, name: "" };
      this.id = null;
      this.isNewEntry = true;
      //load categories
      //possible bug:
      //no error handling: if no categories can be retrieved from the backend: selection is empty, but user is allowed to create funds anyway (without a category)
      var vm = this;
      axios.get(BACKEND_URL + CATEGORIES_PATH).then(function(response) {
        if (response.data != null) {
          //sort by name
          response.data.sort((a, b) => ("" + a.name).localeCompare(b.name));
          vm.categories = response.data;
        }
      });
    },
    loadFields() {
      this.id = this.$route.params.id;
      this.isNewEntry = this.$route.params.id == "new";
      if (this.isNewEntry) return;
      var vm = this;
      axios
        .get(BACKEND_URL + FAVORITES_PATH + `${this.id}`)
        .then(function(response) {
          if (response.data != null) {
            vm.setFavoriteData(response.data);
          }
        });
    },
    /**
     * Fills the data fields with data from a given favorite on page load
     * @param favorite
     */
    setFavoriteData(favorite) {
      //defines 0 as income, not expense
      this.value = "" + Math.abs(+favorite.value).toFixed(2);
      this.description = favorite.description;
      this.selectedCategoryId = favorite.categoryId;
    },
    /**
     * Fills the data fields with the data from a favorite
     * @param value
     * @param description
     */
    fillFields(value, description) {
      this.value = Math.abs(value);
      this.description = description;
    },
    valueInput: function(oldValue, newValue) {
      this.value = this.simpleValueInput(oldValue, newValue);
    }
  }
};
</script>

<style scoped></style>
