<template>
  <v-container fluid id="funds">
    <section v-if="error">
      <p>Beim Laden der Geldstr&ouml;me ist ein Fehler aufgetreten.</p>
      <p>Eventuell kann der Server nicht erreicht werden. Siehe logs</p>
    </section>

    <section v-else>
      <v-layout row wrap>
        <v-flex xs12 md7>
          <v-layout v-if="loading" class="text-xs-center">
            <div>Lade Daten...</div>
            <div>
              <v-progress-circular
                indeterminate
                color="primary"
              ></v-progress-circular>
            </div>
          </v-layout>
          <v-layout v-else justify-center>
            <v-flex v-if="showAlert">
              <custom-alert
                ref="customAlert"
                @dismissed="onDismissed"
                :message="alertMessage"
                :isSuccess="showSuccess"
              ></custom-alert>
            </v-flex>
            <v-layout
              align-space-between
              justify-center
              column
              v-if="plannedRegularFunds && plannedRegularFunds.length > 0"
            >
              <p class="title">Fällige Ausgaben:</p>
              <v-flex xs12 pb-4>
                <v-expansion-panel>
                  <v-expansion-panel-content
                    v-for="(fund, i) in plannedRegularFunds"
                    :key="i"
                  >
                    <template v-slot:header>
                      <v-layout xs12 row wrap justify-end align-center>
                        <v-flex xs4>
                          <v-layout column>
                            <v-flex pa-1>
                              <div v-if="fund.counter > 1">
                                {{
                                  `${fund.description} (${fund.counter}-mal)`
                                }}
                              </div>
                              <div v-else>
                                {{ fund.description }}
                              </div>
                              <v-flex>
                                <div class="caption">
                                  {{ categoryName(fund.categoryId) }}
                                </div>
                              </v-flex>
                            </v-flex>
                          </v-layout>
                        </v-flex>
                        <v-flex xs4 pr-2 fill-height class="text-xs-center">
                          {{ df_frequenzy(fund.frequenzy, fund.dates[0]) }}
                        </v-flex>
                        <v-flex xs4 pr-2 fill-height class="text-xs-right">
                          {{ monetaryString(fund.sum, true) }}
                        </v-flex>
                      </v-layout>
                    </template>
                    <v-list dense>
                      <v-list-tile
                        v-for="(date, idx) in fund.dates"
                        :key="idx"
                        id="regularfundList"
                      >
                        <v-list-tile-content>
                          <v-list-tile-title
                            >{{ formattedDate(date) }}
                          </v-list-tile-title>
                        </v-list-tile-content>
                        <v-list-tile-avatar>{{
                          monetaryString(fund.value, true)
                        }}</v-list-tile-avatar>
                      </v-list-tile>
                    </v-list>
                  </v-expansion-panel-content>
                </v-expansion-panel>
              </v-flex>
            </v-layout>
          </v-layout>
          <div v-if="funds && funds.length == 0">
            <p class="text-xs-center subheading">
              Bisher sind keine Geldströme in diesem Monat getätigt worden.
            </p>
          </div>
          <section v-else>
            <p
              class="title"
              v-if="plannedRegularFunds && plannedRegularFunds.length > 0"
            >
              Einnahmen und Ausgaben:
            </p>
            <v-data-table
              v-model="selected"
              :headers="headers"
              :items="funds"
              :pagination.sync="pagination"
              item-key="id"
              class="elevation-1"
              must-sort
            >
              <template slot="items" slot-scope="props">
                <tr
                  :active="props.selected"
                  @click="router.push(`/funds/${props.item.id}`)"
                  :key="props.item.id"
                  class="clickable"
                >
                  <td>{{ formattedDate(props.item.date) }}</td>
                  <td>{{ props.item.description }}</td>
                  <td>{{ props.item.category }}</td>
                  <td class="text-xs-center">
                    <div v-if="props.item.favoriteId > 0">
                      <v-icon flat fab>star</v-icon>
                    </div>
                  </td>

                  <td class="text-xs-right">
                    {{ monetaryString(props.item.value, true) }}
                  </td>
                </tr>
              </template>
            </v-data-table>
          </section>
          <v-btn
            id="btn_newFund"
            color="primary"
            dark
            medium
            absolute
            top
            right
            fab
            @click="addNewFund()"
          >
            <v-icon>add</v-icon>
          </v-btn>
        </v-flex>
        <v-flex xs12 md5>
          <v-layout column pl-2>
            <v-layout row justify-center>
              <v-btn
                flat
                icon
                id="btn_previousMonth"
                @click="setPreviousMonth()"
              >
                <v-icon>chevron_left</v-icon>
              </v-btn>
              <v-menu
                :close-on-content-click="false"
                v-model="dateMenu"
                :nudge-right="40"
                lazy
                transition="scale-transition"
                offset-y
                full-width
                max-width="290px"
                min-width="290px"
              >
                <v-text-field
                  id="tf_month"
                  slot="activator"
                  v-model="formattedMonth"
                  label="Monat auswählen"
                  prepend-icon="event"
                  readonly
                ></v-text-field>
                <v-date-picker
                  id="dp_fundsMonth"
                  v-model="datePicker"
                  no-title
                  @input="dateMenu = false"
                  type="month"
                  locale="de-DE"
                ></v-date-picker>
              </v-menu>
              <v-btn flat icon id="btn_nextMonth" @click="setNextMonth()">
                <v-icon>chevron_right</v-icon>
              </v-btn>
            </v-layout>
            <v-layout column mt-3 pl-2>
              <v-layout row justify-space-between offset-xs1>
                <v-flex>
                  <p class="title">Einnahmen:</p>
                </v-flex>
                <v-flex>
                  <p class="text-xs-right title">
                    {{ monetaryString(monthlyIncome, true) }}
                  </p>
                </v-flex>
              </v-layout>
              <v-layout row justify-space-between>
                <v-flex>
                  <p class="title">Ausgaben:</p>
                </v-flex>
                <v-flex>
                  <p class="text-xs-right title">
                    {{ monetaryString(monthlyExpenses, true) }}
                  </p>
                </v-flex>
              </v-layout>
              <v-layout row justify-space-between>
                <v-flex>
                  <p class="title">Bilanz:</p>
                </v-flex>
                <v-flex>
                  <p class="text-xs-right title">
                    {{ monetaryString(monthlyBalance, true) }}
                  </p>
                </v-flex>
              </v-layout>
              <v-layout row justify-space-between v-if="!isPastMonth">
                <v-flex>
                  <p class="title">Erwartung zum Monatsende:</p>
                </v-flex>
                <v-flex>
                  <p class="text-xs-right title">
                    {{ monetaryString(monthlyProjection, true) }}
                  </p>
                </v-flex>
              </v-layout>
            </v-layout>
            <v-layout justify-center row fill-height>
              <v-flex xs12>
                <bar-chart
                  :chart-data="chart.chartData"
                  :options="chart.chartOptions"
                ></bar-chart>
              </v-flex>
            </v-layout>
          </v-layout>
        </v-flex>
      </v-layout>
    </section>
  </v-container>
</template>

<script>
import axios from "axios";
import router from "../router";
import BarChart from "./shared/BarChart.js";
import { monetary } from "../mixins/monetary";
import moment from "moment";
import {
  BACKEND_URL,
  FUNDS_PATH,
  CATEGORIES_PATH,
  REGULAR_FUNDS_PATH
} from "../backend.config";
import { dateFormatting } from "../mixins/dateFormatting.js";
export default {
  mixins: [monetary, dateFormatting],
  components: {
    BarChart
  },
  data() {
    return {
      //display
      loading: true,
      error: false,
      dateMenu: false,
      //datatable
      pagination: {
        sortBy: "date",
        descending: true,
        rowsPerPage: 10
      },
      headers: [
        { text: "Datum", value: "date", width: "15%" },
        {
          text: "Beschreibung",
          value: "description",
          align: "left",
          width: "33%"
        },
        { text: "Kategorie", value: "category", align: "left", width: "33%" },
        { text: "Favorit", value: "favoriteId", align: "center", width: "10%" },
        { text: "Betrag", value: "value", align: "right" }
      ],
      selected: [],
      //data
      //funds in the selected month
      funds: [],
      //planned funds in the selected month
      plannedRegularFunds: [],
      //"caches" categorie names
      categoryMap: new Map(),
      //load all only once
      categoryPromise: null,
      //selected date, default=today
      date: moment()
        .startOf("month")
        .toDate(),
      //chartdata
      chart: {
        chartData: null,
        chartOptions: null,
        labels: ["Einnahmen", "Ausgaben", "Bilanz"],
        colors: ["#00FF00", "#FF0000", "#0000FF"]
      },
      monthlyData: [],
      router,
      newFundPath: "new",
      showAlert: false,
      alertMessage: "",
      showSuccess: false,
      datePicker: null
    };
  },
  mounted() {
    //to display the names of categories
    this.getCategories().then(() => this.refresh());
    if (this.$route.query.m && this.$route.query.m != "") {
      this.showMessage(this.$route.query.m, this.$route.query.t);
    } else {
      this.onDismissed();
    }
    this.setChartOptions();
  },
  computed: {
    formattedMonth: function() {
      return this.date.toLocaleString("de-DE", {
        year: "numeric",
        month: "long"
      });
    },
    momentDate: function() {
      return moment(this.date);
    },
    monthlyBalance: function() {
      if (!this.funds) return 0;
      return this.funds.map(f => +f.value).reduce((acc, cur) => acc + cur, 0);
    },
    monthlyIncome: function() {
      if (!this.funds) return 0;
      return this.funds
        .map(f => +f.value)
        .filter(val => val > 0)
        .reduce((acc, cur) => acc + cur, 0);
    },
    monthlyExpenses: function() {
      if (!this.funds) return 0;
      return this.funds
        .map(f => +f.value)
        .filter(val => val < 0)
        .reduce((acc, cur) => acc + cur, 0);
    },
    monthlyProjection: function() {
      if (!this.funds || !this.plannedRegularFunds) return 0;
      var plannedExpenseTotal = this.plannedRegularFunds
        .map(f => +f.sum)
        .reduce((acc, cur) => acc + cur, 0);
      return this.monthlyBalance + plannedExpenseTotal;
    },
    isPastMonth: function() {
      return this.momentDate.isBefore(moment().startOf("month"));
    }
  },
  watch: {
    funds() {
      this.setChartData();
    },
    datePicker() {
      this.date = moment(this.datePicker, "YYYY-MM-DD").toDate();
    },
    date() {
      this.refresh();
    },
    monthlyBalance() {
      {
        this.chart.colors[2] = this.monthlyBalance < 0 ? "#9e000d" : "#64a50e";
      }
    }
  },
  methods: {
    //router behaviour - rückkehr zur selben page
    beforeRouteUpdate: function() {
      //reload funds
      this.getCategories().then(() => this.refresh());
    },
    setPreviousMonth() {
      this.date = this.momentDate.subtract(1, "month").toDate();
    },
    setNextMonth() {
      this.date = this.momentDate.add(1, "month").toDate();
    },
    refresh() {
      this.getFundsForMonth();
      this.getRegularFundsForMonth();
    },
    getFundsForMonth: function() {
      this.funds = [];
      var vm = this;
      axios
        .get(BACKEND_URL + FUNDS_PATH + "monthly", {
          params: {
            year: this.momentDate.year(),
            month: this.momentDate.month()
          }
        })
        .then(response => {
          vm.funds = response.data.funds;
          vm.setCategories();
        })
        .catch(error => {
          console.error(error);
          vm.error = true;
        })
        .finally(() => {
          vm.loading = false;
        });
    },
    getRegularFundsForMonth: function() {
      //reset
      this.plannedRegularFunds = [];
      var vm = this;
      axios
        .get(BACKEND_URL + REGULAR_FUNDS_PATH + "monthlyGrouped", {
          params: {
            year: this.momentDate.year(),
            month: this.momentDate.month()
          }
        })
        .then(response => {
          if (response.data.regularfunds) {
            vm.plannedRegularFunds = response.data.regularfunds;
          }
        })
        .catch(error => {
          console.error(error);
          vm.error = true;
        });
    },
    formattedDate(dateUTC) {
      return moment(dateUTC).format("DD.MM.YYYY");
    },
    categoryName: function(value) {
      //not in a category:
      if (!value || value == null || value == 0) return "";
      if (this.categoryMap.has(+value)) return this.categoryMap.get(+value);
      //if not found, reload:
      var vm = this;
      this.getCategories().then(function() {
        if (!vm.categoryMap.has(value)) return "gelöschte Kategorie";
        return vm.categoryMap.get(value);
      });
    },
    setCategories() {
      this.funds.map(
        fund =>
          (fund.category = this.categoryMap.has(fund.categoryId)
            ? this.categoryMap.get(fund.categoryId)
            : "")
      );
    },
    getCategories() {
      var vm = this;
      if (this.categoryPromise != null) {
        return this.categoryPromise;
      }
      return (this.categoryPromise = axios
        .get(BACKEND_URL + CATEGORIES_PATH)
        .then(function(response) {
          if (response.data != null) {
            response.data.forEach(cat => vm.categoryMap.set(cat.id, cat.name));
          }
        })
        .finally((this.categoryPromise = null)));
    },
    addNewFund() {
      router.push("/" + FUNDS_PATH + this.newFundPath);
    },
    changeSort(column) {
      if (this.pagination.sortBy === column) {
        this.pagination.descending = !this.pagination.descending;
      } else {
        this.pagination.sortBy = column;
        this.pagination.descending = false;
      }
    },
    setChartOptions: function() {
      this.chart.chartOptions = {
        legend: {
          display: false
        },
        scales: {
          yAxes: [
            {
              ticks: {
                beginAtZero: true
              },
              gridLines: {
                display: true
              }
            }
          ],
          xAxes: [
            {
              ticks: {
                beginAtZero: true
              },
              gridLines: {
                display: false
              }
            }
          ]
        }
      };
    },
    setChartData: function() {
      this.monthlyData[0] = Math.round(this.monthlyIncome * 100) / 100;
      this.monthlyData[1] = Math.round(this.monthlyExpenses * 100) / 100;
      this.monthlyData[2] = Math.round(this.monthlyBalance * 100) / 100;
      this.fillChart();
    },
    fillChart: function() {
      this.chart.chartData = {
        labels: this.chart.labels,
        datasets: [
          {
            backgroundColor: this.chart.colors,
            data: this.monthlyData
          }
        ]
      };
    },
    onDismissed: function() {
      this.showAlert = false;
    },
    showMessage: function(message, success) {
      this.alertMessage = message;
      success && success == "true"
        ? (this.showSuccess = true)
        : (this.showSuccess = false);
      this.showAlert = true;
    }
  }
};
</script>

<style scoped></style>
