<template>
  <v-container fluid id="fundsCRUD">
    <v-layout row wrap align-center>
      <v-flex xs8 offset-xs1>
        <section v-if="error">
          Es ist ein Fehler aufgetreten:
          <v-text-field readonly v-model="errorMessage"></v-text-field>
        </section>
        <v-form ref="form" v-model="formValid" lazy-validation>
          <v-layout row justify-start>
            <v-flex xs4>
              <v-menu
                :close-on-content-click="true"
                :nudge-right="10"
                absolute
                offset-y
                offset-x
                transition="scale-transition"
                full-width
                min-width="290px"
              >
                <v-text-field
                  id="tf_date"
                  slot="activator"
                  :value="dateText"
                  label="Datum"
                  prepend-icon="event"
                  :rules="dateRules"
                  @input="updateDate"
                ></v-text-field>
                <v-date-picker
                  id="dp_date"
                  v-model="date"
                  :landscape="true"
                  :reactive="true"
                  :first-day-of-week="1"
                  locale="de-DE"
                ></v-date-picker>
              </v-menu>
            </v-flex>
            <v-flex xs4 offset-xs1>
              <v-menu
                transition="scale-transition"
                full-width
                min-width="290px"
                absolute
                offset-y
                offset-x
              >
                <v-text-field
                  id="tf_time"
                  slot="activator"
                  v-model="time"
                  label="Uhrzeit"
                  prepend-icon="access_time"
                  type="time"
                  :rules="timeRules"
                ></v-text-field>
                <v-time-picker
                  v-model="time"
                  :landscape="true"
                  format="24hr"
                ></v-time-picker>
              </v-menu>
            </v-flex>
          </v-layout>
          <v-combobox
            v-model="description"
            :filter="descriptionFilter"
            :rules="descriptionRules"
            label="Beschreibung"
            counter="255"
            required
            autofocus
            :search-input.sync="descriptionSearch"
            :loading="loadingRecommendations"
            :items="recommendationsDescriptions"
            hide-no-data
            @input="fillFieldsWithRecommendation"
            @keyup.enter="focusCategory"
            ref="descriptionField"
            id="cb_description"
          ></v-combobox>
          <!-- kategorie -->
          <v-select
            v-model="selectedCategoryId"
            :items="categories"
            label="Kategorie"
            item-value="id"
            item-text="name"
            clearable
            ref="categoryField"
            id="select_category"
          ></v-select>
          <v-layout xs12 sm6 align-center justify-center>
            <v-flex xs2>
              <v-btn-toggle
                id="toggle_incomeExpense"
                v-model="toggleExpense"
                mandatory
              >
                <v-btn flat id="btn_income">
                  <v-icon>add</v-icon>
                </v-btn>
                <v-btn flat id="btn_expense">
                  <v-icon>remove</v-icon>
                </v-btn>
              </v-btn-toggle>
            </v-flex>
            <v-flex xs10>
              <v-text-field
                id="tf_value"
                :value="value"
                label="Betrag"
                suffix="€"
                @input="valueInput(value, $event)"
                :rules="numberRules"
              ></v-text-field>
            </v-flex>
          </v-layout>
        </v-form>
        <v-layout row justify-end xs12 md12>
          <p v-if="target && target.dueDate" class="text-xs-right">
            Planziel fällig am {{ target.dueDate | formattedDate }}. Wunschziel:
            {{ monetaryString(target.value, true) }}. Wert nach dieser Buchung:
            {{ monetaryString(targetAfterCurrentExpense, true) }}.
          </p>
        </v-layout>
        <v-layout row justify-space-between>
          <div v-if="!isNewEntry">
            <v-btn id="btn_delete" :disabled="!formValid" @click="deleteFund()">
              <v-icon flat>delete_forever</v-icon>Löschen
            </v-btn>
          </div>
          <div v-if="!isNewEntry">
            <v-btn
              id="btn_split"
              :disabled="isExpenseInDB"
              @click="splitFund()"
            >
              <v-icon flat>call_split</v-icon>Aufteilen
            </v-btn>
          </div>

          <v-btn
            id="btn_favorite"
            :disabled="
              (value && isIncome) || !description || description.length == 0
            "
            v-if="favoriteId == null || favoriteId === 0"
            @click="saveAsFavorite()"
          >
            <v-icon flat>star_border</v-icon>Als Favorit speichern
          </v-btn>
          <v-btn v-else id="btn_gotoFavorite" @click="showFavorite()">
            <v-icon flat>star</v-icon>Zum Favorit
          </v-btn>

          <v-spacer></v-spacer>

          <v-btn id="btn_save" :disabled="!formValid" @click="upsertFund()">
            <v-icon flat>save</v-icon>Speichern
          </v-btn>
          <v-btn id="btn_cancel" @click="router.push('/funds')">
            <v-icon>cancel</v-icon>Abbrechen
          </v-btn>
        </v-layout>

        <v-alert :value="alert" color="error" icon="warning">{{
          alertMessage
        }}</v-alert>

        <v-layout row wrap align-center>
          <v-flex xs12 row>
            <v-switch
              label="Nur Favoriten für Suche berücksichtigen"
              v-model="showFavorites"
            ></v-switch>
          </v-flex>
        </v-layout>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import axios from "axios";
import { dateFormatting } from "../mixins/dateFormatting";
import moment from "moment";
import router from "../router";
import {
  BACKEND_URL,
  FUNDS_PATH,
  CATEGORIES_PATH,
  PLANNING_TARGETS_PATH,
  FAVORITES_PATH
} from "../backend.config";
import { monetary } from "../mixins/monetary";
export default {
  mixins: [monetary, dateFormatting],
  filters: {
    formattedDate: function(value) {
      if (!value) return "";
      return moment(value).format("DD.MM.YYYY");
    }
  },
  data() {
    return {
      //display
      loading: true,
      loadingRecommendations: false,
      descriptionSearch: null,
      recommendations: [],
      error: false,
      errorMessage: "",
      showFavorites: false,
      formValid: true,
      //button group selection: starting with 0. (0 = +, 1 = -)
      toggleExpense: 1,
      //form validation
      descriptionRules: [
        v => !!v || "Die Beschreibung muss angegeben werden",
        v =>
          (v && v.length <= 255) ||
          "Die Beschreibung darf maximal 255 Zeichen haben."
      ],
      dateRules: [
        v => !!v || this.incorrectDateMessage,
        v => {
          return (
            (v && moment(this.dateText, "DD.MM.YYYY", true).isValid()) ||
            this.incorrectDateMessage
          );
        }
      ],
      timeRules: [v => !!v || "Es muss eine Uhrzeit angegeben werden."],
      numberRules: [
        v => !!v || "Es muss ein Betrag angegeben werden.",
        v => !isNaN(v) || "Der Wert muss eine Zahl sein."
      ],
      //data
      funds: null,
      description: null,
      value: (0.0).toFixed(2),
      time: null,
      id: null,
      favoriteId: null,
      date: moment().format("YYYY-MM-DD"),
      dateText: moment().format("DD.MM.YYYY"),

      //planingtarget
      target: null,

      //categories available in select box
      categories: [],
      selectedCategoryId: null,
      //navigation
      router,

      //der favorit button muss auch ausgeblendet sein
      //gdw es ein bestehender eintrag ist und in der datenbank als einnahme
      isExpenseInDB: false,
      alert: false,
      alertMessage: "",
      incorrectDateMessage: "Es muss ein Datum angegeben werden."
    };
  },
  computed: {
    isIncome: function() {
      return this.toggleExpense != 1;
    },
    recommendationsDescriptions: function() {
      return this.recommendations.map(rec => rec.description);
    },
    targetAfterCurrentExpense: function() {
      if (!this.target) return 0.0;
      if (this.isNewEntry) {
        if (this.isIncome) {
          return +this.target.balance + +this.value;
        }
        return +this.target.balance - this.value;
      }
      return +this.target.balance;
    },
    isNewEntry: function() {
      return this.$route.params.id == "new" ? true : false;
    }
  },
  watch: {
    descriptionSearch(searchInput) {
      this.description = searchInput;
      if (!this.isNewEntry) return;
      this.loadingRecommendations = true;
      let self = this;
      let data = {
        partlyDescription: searchInput,
        onlyFavorites: this.showFavorites
      };
      if (this.selectedCategoryId) {
        data.categoryId = this.selectedCategoryId;
      }
      if (!searchInput) {
        self.loadingRecommendations = false;
        self.recommendations = [];
      } else {
        axios
          .post(BACKEND_URL + FUNDS_PATH + "recommend", data)
          .then(result => {
            self.loadingRecommendations = false;
            self.recommendations = result.data.recommendations;
          })
          .catch(err => {
            console.error(err);
            self.loadingRecommendations = false;
          });
      }
    },
    date() {
      this.dateText = this.dateDisplay(this.date);
      this.refreshTarget();
    }
  },
  mounted() {
    this.resetFields();
    if (!this.isNewEntry) {
      this.loadFields();
    }
  },
  beforeRouteUpdate: function(to, from, next) {
    this.resetFields();
    this.loadFields();
    next();
  },
  methods: {
    focusCategory: function() {
      this.$refs.descriptionField.blur();
      this.$refs.categoryField.focus();
    },
    fillFieldsWithRecommendation: function(input) {
      let recommendation = this.recommendations.filter(
        rec => rec.description === input
      )[0];
      if (!recommendation) {
        return;
      }
      const now = new Date();
      recommendation.date = now;
      recommendation.value = recommendation.value || 0;
      this.setFundData(recommendation);
    },
    // default Filter deaktivieren, echter filter in descriptionSearch() implementiert
    descriptionFilter() {
      return true;
    },
    upsertFund() {
      var vm = this;
      this.formValid = this.$refs.form.validate();
      if (!this.formValid) {
        return;
      }
      //disable buttons to stop fast clicking

      this.formValid = false;
      axios
        .post(BACKEND_URL + FUNDS_PATH + "replaceOrCreate", {
          value: this.isIncome ? this.value : -this.value,
          description: this.description,
          date: this.dateAsTimeStamp(this.date, this.time),
          categoryId: this.selectedCategoryId,
          favoriteId: this.favoriteId,
          id: this.id === "new" ? null : this.id
        })
        .then(() => {
          vm.router.push("/funds");
        })
        .catch(error =>
          this.errorHandling(
            error,
            "Der Geldstrom konnte nicht gespeichert werden."
          )
        );
    },
    deleteFund() {
      if (this.id === null) return;
      this.formValid = false;
      var vm = this;
      axios
        .delete(BACKEND_URL + FUNDS_PATH + `${this.id}`, {
          id: this.id
        })
        .then(() => {
          vm.router.push("/funds");
        })
        .catch(error =>
          this.errorHandling(
            error,
            "Der Geldstrom konnte nicht gelöscht werden."
          )
        );
    },
    splitFund() {
      if (this.id) {
        router.push(`/funds/${this.id}/split/`);
      }
    },
    saveAsFavorite() {
      this.alert = false;
      var vm = this;
      var request_body = {
        value: null,
        description: this.description,
        categoryId: this.selectedCategoryId
      };
      if (this.value && this.value != 0)
        request_body.value = this.isIncome ? this.value : -this.value;
      axios
        .post(BACKEND_URL + FAVORITES_PATH, request_body)
        //save new favorite
        .then(function(response) {
          if (response.data != null) {
            vm.favoriteId = response.data.id;
          }
        })
        //save id from return value on this fund
        .then(function() {
          axios.patch(BACKEND_URL + FUNDS_PATH, {
            id: vm.id,
            favoriteId: vm.favoriteId
          });
        })
        .catch(error =>
          this.errorHandling(
            error,
            "Der Favorit konnte nicht gespeichert werden."
          )
        );
    },
    resetFields() {
      var now = new Date();
      this.value = 0.0;
      this.date = this.castDateAsDatePickerString(now);
      this.time = this.castDateAsTimePickerString(now);
      this.description = null;
      this.selected_category = { id: null, name: "" };
      this.id = null;
      this.isExpenseInDB = false;
      this.refreshTarget();
      //load categories
      //possible bug:
      //no error handling: if no categories can be retrieved from the backend: selection is empty, but user is allowed to create funds anyway (without a category)
      var vm = this;
      axios.get(BACKEND_URL + CATEGORIES_PATH).then(function(response) {
        if (response.data != null) {
          //sort by name
          response.data.sort((a, b) => ("" + a.name).localeCompare(b.name));
          vm.categories = response.data;
        }
      });
    },
    loadFields() {
      this.id = this.$route.params.id;
      if (this.isNewEntry) return;
      var vm = this;
      axios
        .get(BACKEND_URL + FUNDS_PATH + `${this.id}`)
        .then(function(response) {
          if (response.data != null) {
            vm.setFundData(response.data);
            vm.refreshTarget();
          }
        })
        .catch(error =>
          this.errorHandling(
            error,
            "Der Geldstrom konnte nicht geladen werden."
          )
        );
    },
    errorHandling(error, message) {
      console.error(error);
      this.alert = true;
      this.alertMessage = message;
    },
    /**
     * Fills the data fields with data from a given fund on page load
     * @param fund
     */
    setFundData(fund) {
      //defines 0 as income, not expense

      this.toggleExpense = +(fund.value < 0);
      this.isExpenseInDB = !this.toggleExpense;
      this.value = "" + Math.abs(+fund.value).toFixed(2);
      this.description = fund.description;
      this.selectedCategoryId = fund.categoryId;

      this.date = this.castDateAsDatePickerString(new Date(fund.date));
      this.time = this.castDateAsTimePickerString(new Date(fund.date));
      //possible bug
      //wird ein ehemaliger betrag als vorlage genommen, der zu einem favorite gehört, dann auch der neue eintrag
      if (this.showFavorites) {
        this.favoriteId = fund.id;
      } else {
        this.favoriteId = fund.favoriteId;
      }
    },
    /**
     * Fills the data fields with the data from a favorit or recent fund
     * @param value
     * @param description
     * @param favoriteId optional
     */
    fillFields(value, description, favoriteId) {
      this.toggleExpense = +(value < 0);
      this.value = Math.abs(value);
      this.description = description;
      if (favoriteId) this.favoriteId = favoriteId;
    },
    castDateAsDatePickerString: function(date) {
      //returns yyyy-mm-dd as used in the datepicker
      return moment(date).format("YYYY-MM-DD");
    },
    castDateAsTimePickerString: function(date) {
      //returns hh:mm as used in the timepicker
      return (
        "" +
        this.zeroPrefix(date.getHours()) +
        ":" +
        this.zeroPrefix(date.getMinutes())
      );
    },
    zeroPrefix: function(number, length) {
      if (!length && number <= 9 && number >= 0) return "0" + number;
      while (("" + number).length < length) {
        number = "0" + number;
      }
      return number;
    },
    valueInput: function(oldValue, newValue) {
      let val = +this.value;
      if (val < 0) {
        this.toggleExpense = 1;
      }
      this.value = this.simpleValueInput(oldValue, newValue);
    },
    dateAsTimeStamp: function(dateTs, time) {
      //dran denken, dass timestamps in zeitzone UTC angezeigt werden (d.h. eine stunde früher)
      var date = new Date(dateTs);
      return new Date(
        date.getFullYear(),
        date.getMonth(),
        date.getDate(),
        +time.substring(0, 2),
        +time.substring(3, 5)
      );
    },
    updateDate(val) {
      this.dateText = val;
      let newDate = moment(val, "DD.MM.YYYY", true);
      if (newDate.year() > 1) {
        this.date = this.dateDisplayToPicker(val);
        this.refreshTarget();
      }
    },
    showFavorite: function() {
      var vm = this;
      vm.alert = false;
      axios
        .get(BACKEND_URL + FAVORITES_PATH + `${vm.favoriteId}`)
        .then(function(response) {
          if (response.data != null) {
            router.push(`/favorites/${vm.favoriteId}`);
          }
        })
        .catch(error =>
          this.errorHandling(error, "Der Favorit kann nicht geöffnet werden.")
        );
    },
    refreshTarget() {
      var vm = this;
      vm.alert = false;
      axios
        .get(BACKEND_URL + PLANNING_TARGETS_PATH + `nextDueTarget`, {
          params: {
            startDate: this.date
          }
        })
        .then(function(response) {
          if (
            response.data != null &&
            response.data.targets &&
            response.data.targets[0]
          ) {
            vm.target = response.data.targets[0];
          } else {
            vm.target = null;
          }
        })
        .catch(error =>
          this.errorHandling(
            error,
            "Das nächste Planziel konnte nicht geladen werden."
          )
        );
    }
  }
};
</script>

<style scoped></style>
