<template>
  <v-container fluid id="fundsSplit">
    <p class="title">Aufteilung von Ausgaben:</p>
    <v-alert :value="alert" color="error" icon="warning">{{
      alertMessage
    }}</v-alert>
    <v-stepper v-model="stepper" vertical>
      <v-stepper-step
        id="txt_fundOne_header"
        :complete="stepper > 1"
        step="1"
        @click="stepper = 1"
        >Erster Teil des Aufteilungsbetrag</v-stepper-step
      >
      <v-stepper-content step="1">
        <v-layout column>
          <v-card mb-4>
            <v-form
              id="form_fundOne"
              ref="form"
              v-model="form.partOneValid"
              lazy-validation
            >
              <v-layout row justify-start pl-3 pt-2>
                <v-flex xs4>
                  <v-menu
                    :close-on-content-click="true"
                    v-model="pickers.dateMenu1"
                    :nudge-right="10"
                    lazy
                    offset-y
                    offset-x
                    transition="scale-transition"
                    full-width
                    min-width="290px"
                  >
                    <v-text-field
                      id="tf_fundOne_date"
                      slot="activator"
                      v-model="dateOneFormatted"
                      label="Datum"
                      prepend-icon="event"
                      :rules="rules.dateRules"
                      @blur="parseDateOne()"
                    ></v-text-field>
                    <v-date-picker
                      id="dp_fundOne"
                      v-model="fundOnePickerDate"
                      @input="pickers.dateMenu1 = false"
                      :landscape="true"
                      :reactive="true"
                      :first-day-of-week="1"
                      locale="de-DE"
                    ></v-date-picker>
                  </v-menu>
                </v-flex>
                <v-flex xs4 offset-xs1 pl-2>
                  <v-menu
                    v-model="pickers.timeMenu1"
                    transition="scale-transition"
                    full-width
                    min-width="290px"
                    @click="pickers.timeMenu1 = true"
                    absolute
                    offset-y
                    offset-x
                  >
                    <v-text-field
                      id="tf_fundOne_time"
                      slot="activator"
                      v-model="fundOneTimeFormatted"
                      label="Uhrzeit"
                      prepend-icon="access_time"
                      :rules="rules.timeRules"
                      @blur="parseTimeOne()"
                    ></v-text-field>
                    <v-time-picker
                      id="tp_fundOne"
                      v-model="fundOneTime"
                      :landscape="true"
                      format="24hr"
                    ></v-time-picker>
                  </v-menu>
                </v-flex>
              </v-layout>
              <v-layout column justify-start pl-2 pr-2>
                <v-text-field
                  id="tf_fundOne_descr"
                  v-model="splitFundOne.description"
                  :rules="rules.descriptionRules"
                  label="Beschreibung"
                  counter="255"
                  required
                ></v-text-field>
                <!-- kategorie -->
                <v-select
                  id="num_fundOne_cat"
                  v-model="splitFundOne.categoryId"
                  :items="categories"
                  label="Kategorie"
                  item-value="id"
                  item-text="name"
                ></v-select>
              </v-layout>
              <v-layout xs12 sm6 align-center justify-start row wrap>
                <v-flex xs12 sm3 md3 pt-1>
                  <v-text-field
                    id="tf_fundOne_value"
                    prepend-icon="remove"
                    :value="splitFundOne.value"
                    label="Betrag"
                    suffix="€"
                    :rules="rules.numberRules"
                    @input="valueInput(splitFundOne.value, $event)"
                  ></v-text-field>
                </v-flex>
                <v-spacer />
                <v-flex xs12 sm4 pt-1 pl-2 id="txt_remaining"
                  >Verbleibend:
                  {{ monetaryString(remainingValue, true) }}</v-flex
                >

                <v-flex xs12 sm4 py-1 pl-2 id="txt_original_value"
                  >Ursprünglich:
                  {{ monetaryString(originalFund.value, true) }}</v-flex
                >
              </v-layout>
            </v-form>
          </v-card>
          <v-layout row wrap mt-4 pt-3 justify-space-between>
            <v-flex xs12 sm6 md2 lg2>
              <v-btn
                id="btn-continue"
                @click="stepper = 2"
                :disabled="!form.partOneValid"
                >Weiter</v-btn
              >
            </v-flex>
            <v-flex xs12 sm6 md2 lg2 align-end>
              <v-btn id="btn_step1_cancel" @click="returnToFund()">
                <v-icon>cancel</v-icon>&nbsp;Abbrechen
              </v-btn>
            </v-flex>
          </v-layout>
        </v-layout>
      </v-stepper-content>
      <v-stepper-step id="txt_fundTwo_header" :complete="stepper > 2" step="2"
        >Verbleibender Betrag</v-stepper-step
      >
      <v-stepper-content step="2">
        <v-layout column>
          <v-card my-5>
            <v-form
              id="form_fundTwo"
              ref="form"
              v-model="form.partTwoValid"
              lazy-validation
            >
              <v-layout row justify-start pl-3 pt-2>
                <v-flex xs4>
                  <v-menu
                    :close-on-content-click="true"
                    v-model="pickers.dateMenu2"
                    :nudge-right="10"
                    absolute
                    offset-y
                    offset-x
                    transition="scale-transition"
                    full-width
                    min-width="290px"
                  >
                    <v-text-field
                      id="tf_fundTwo_date"
                      slot="activator"
                      v-model="dateTwoFormatted"
                      label="Datum"
                      prepend-icon="event"
                      :rules="rules.dateRules"
                      @blur="parseDateTwo()"
                    ></v-text-field>
                    <v-date-picker
                      id="dp-fundTwo"
                      v-model="fundTwoPickerDate"
                      @input="pickers.dateMenu2 = false"
                      :landscape="true"
                      :reactive="true"
                      :first-day-of-week="1"
                      locale="de-DE"
                    ></v-date-picker>
                  </v-menu>
                </v-flex>
                <v-flex xs4 offset-xs1>
                  <v-menu
                    v-model="pickers.timeMenu2"
                    transition="scale-transition"
                    full-width
                    min-width="290px"
                    @click="pickers.timeMenu2 = true"
                    absolute
                    offset-y
                    offset-x
                  >
                    <v-text-field
                      id="tf_fundTwo_time"
                      slot="activator"
                      v-model="fundTwoTimeFormatted"
                      label="Uhrzeit"
                      prepend-icon="access_time"
                      @blur="parseTimeTwo()"
                      :rules="rules.timeRules"
                    ></v-text-field>
                    <v-time-picker
                      id="tp_fundTwo"
                      v-model="fundTwoTime"
                      :landscape="true"
                      format="24hr"
                    ></v-time-picker>
                  </v-menu>
                </v-flex>
              </v-layout>
              <v-layout column justify-start pl-2 pr-2>
                <v-text-field
                  id="tf_fundTwo_descr"
                  v-model="splitFundTwo.description"
                  :rules="rules.descriptionRules"
                  label="Beschreibung"
                  counter="255"
                  required
                ></v-text-field>
                <!-- kategorie -->
                <v-select
                  id="num_fundTwo_cat"
                  v-model="splitFundTwo.categoryId"
                  :items="categories"
                  label="Kategorie"
                  item-value="id"
                  item-text="name"
                ></v-select>
              </v-layout>
              <v-layout xs12 sm6 align-center justify-start pl-2>
                <v-flex xs3>
                  <v-text-field
                    id="tf_fundTwo_value"
                    prepend-icon="remove"
                    v-model="remainingValue"
                    label="Betrag"
                    suffix="€"
                    type="number"
                    step="0.01"
                    readonly
                  ></v-text-field>
                </v-flex>
              </v-layout>
            </v-form>
          </v-card>
          <v-layout justify-space-between row wrap mt-4 pt-3>
            <v-flex xs12 sm6 md3 lg2>
              <v-btn
                id="btn_save"
                @click="saveSplit()"
                :disabled="!form.partTwoValid"
                ><v-icon flat>save</v-icon>&nbsp;Speichern</v-btn
              >
            </v-flex>
            <v-spacer></v-spacer>
            <v-flex xs12 sm6 md3 lg2>
              <v-btn id="btn-back" @click="stepper = 1"
                ><v-icon flat>chevron_left</v-icon>&nbsp;Zur&uuml;ck</v-btn
              >
            </v-flex>
            <v-flex xs12 sm6 md3 lg2 pr-4>
              <v-btn id="btn_step2_cancel" @click="returnToFund()">
                <v-icon>cancel</v-icon>&nbsp;Abbrechen
              </v-btn>
            </v-flex>
          </v-layout>
        </v-layout>
      </v-stepper-content>
    </v-stepper>
  </v-container>
</template>

<script>
import axios from "axios";
import Fund from "./shared/fund";
import moment from "moment";
import { monetary } from "../mixins/monetary";
import router from "../router";
import {
  BACKEND_URL,
  FUNDS_PATH,
  CATEGORIES_PATH,
  SPLIT_PATH
} from "../backend.config";
export default {
  mixins: [monetary],
  data() {
    return {
      stepper: 0,
      fundId: 0,
      originalFund: {},
      splitFundOne: {},
      splitFundTwo: {},
      pickers: {
        dateMenu1: false,
        dateMenu2: false,
        timeMenu1: false,
        timeMenu2: false
      },
      fundOnePickerDate: "",
      fundTwoPickerDate: "",
      fundOneTime: "",
      fundTwoTime: "",
      fundOneTimeFormatted: "",
      fundTwoTimeFormatted: "",
      dateOneFormatted: "",
      dateTwoFormatted: "",
      form: {
        partOneValid: false,
        partTwoValid: false
      },
      //categories available in select box
      categories: [],
      //form validation
      rules: {
        descriptionRules: [
          v => !!v || "Die Beschreibung muss angegeben werden",
          v =>
            (v && v.length <= 255) ||
            "Die Beschreibung darf maximal 255 Zeichen haben."
        ],
        dateRules: [v => !!v || "Es muss ein Datum angegeben werden."],
        timeRules: [
          v => !!v || "Es muss eine Uhrzeit angegeben werden.",
          v =>
            (v && v.split(":").length == 2) ||
            "Die Uhrzeit muss im Format HH:mm angegeben werden.",
          v =>
            (v && v.split(":")[0] >= 0 && v.split(":")[0] <= 24) ||
            "Die Uhrzeit muss im Format HH:mm angegeben werden.",
          v =>
            (v && v.split(":")[1] >= 0 && v.split(":")[0] <= 59) ||
            "Die Uhrzeit muss im Format HH:mm angegeben werden."
        ],
        numberRules: [
          v => !!v || "Es muss ein Betrag angegeben werden.",
          v => !isNaN(v) || "Der Wert muss eine Zahl sein.",
          v => (v && +v > 0) || "Der Betrag muss größer als Null sein.",
          v =>
            (v && +v < this.originalFund.value) ||
            "Der Betrag muss kleiner als der ursprüngliche Betrag sein."
        ]
      },
      router,
      alert: false,
      alertMessage: ""
    };
  },
  watch: {
    fundOnePickerDate(val) {
      [this.splitFundOne.date, this.dateOneFormatted] = this.pickerDateChanged(
        this.splitFundOne.date,
        val
      );
    },
    fundTwoPickerDate(val) {
      [this.splitFundTwo.date, this.dateTwoFormatted] = this.pickerDateChanged(
        this.splitFundTwo.date,
        val
      );
    },
    fundOneTime(val) {
      [
        this.splitFundOne.date,
        this.fundOneTimeFormatted
      ] = this.pickerTimeChanged(this.splitFundOne.date, val);
    },
    fundTwoTime(val) {
      [
        this.splitFundTwo.date,
        this.fundTwoTimeFormatted
      ] = this.pickerTimeChanged(this.splitFundTwo.date, val);
    }
  },
  computed: {
    remainingValue: function() {
      return (
        this.originalFund.value - Math.abs(this.splitFundOne.value)
      ).toFixed(2);
    },
    isValidSplitAmount: function() {
      return this.remainingValue > 0;
    }
  },
  mounted() {
    this.initFields();
  },
  methods: {
    initFields() {
      this.fundId = this.$route.params.id;
      this.isNewEntry = this.$route.params.id == "new";
      if (this.isNewEntry) {
        //über url manipulation seite erreicht mit noch nicht gespeichertem fund
        this.openFundsPage(
          "Neue Geldströme können nicht aufgeteilt werden.",
          false
        );
        return;
      }
      var vm = this;
      axios
        .get(BACKEND_URL + FUNDS_PATH + `${this.fundId}`)
        .then(function(response) {
          if (response.data != null) {
            if (response.data.value > 0) {
              this.openFundsPage(
                "Dieser Fund kann nicht gesplittet werden.",
                false
              );
              return;
            }
            vm.setFundData(response.data);
          }
        });
      axios.get(BACKEND_URL + CATEGORIES_PATH).then(function(response) {
        if (response.data != null) {
          //sort by name
          response.data.sort((a, b) => ("" + a.name).localeCompare(b.name));
          vm.categories = response.data;
        }
      });
    },
    setFundData(fund) {
      this.originalFund = fund;
      //cast numeric
      this.originalFund.value = Math.abs(+fund.value).toFixed(2);
      this.splitFundOne = new Fund(
        this.originalFund.value,
        this.originalFund.description,
        this.originalFund.date,
        this.originalFund.favoriteId,
        this.originalFund.categoryId
      );
      [this.fundOnePickerDate, this.fundOneTime] = this.pickerDateAndTime(
        this.originalFund.date
      );
      this.splitFundTwo = new Fund(
        0,
        this.originalFund.description,
        this.originalFund.date,
        this.originalFund.favoriteId,
        this.originalFund.categoryId
      );
      [this.fundTwoPickerDate, this.fundTwoTime] = this.pickerDateAndTime(
        this.originalFund.date
      );
    },
    returnToFund() {
      this.router.push(`/funds/${this.originalFund.id}`);
    },
    pickerDateAndTime(date) {
      var dt = date;
      if (!date) {
        dt = new Date(this.originalFund.date);
      } else {
        dt = new Date(date);
      }
      var datePickerDate = moment(dt).format("YYYY-MM-DD");
      var timePickerTime = moment(dt).format("HH:mm");
      return [datePickerDate, timePickerTime];
    },
    pickerDateChanged(dateField, newVal) {
      let newDate = moment(newVal, "YYYY-MM-DD");
      let oldDate = moment(dateField);
      oldDate.date(newDate.date());
      oldDate.month(newDate.month());
      oldDate.year(newDate.year());
      dateField = oldDate.toDate();
      let formattedVar = moment(dateField).format("DD.MM.YYYY");
      return [dateField, formattedVar];
    },
    pickerTimeChanged(dateField, newVal) {
      let newTime = moment(newVal, "HH:mm");
      let oldDate = moment(dateField);
      oldDate.hours(newTime.hour());
      oldDate.minutes(newTime.minute());
      dateField = oldDate.toDate();
      let formattedVar = moment(dateField).format("HH:mm");
      return [dateField, formattedVar];
    },
    parseDateOne() {
      let newDate = moment(this.dateOneFormatted, "DD.MM.YYYY");
      this.fundOnePickerDate = newDate.format("YYYY-MM-DD");
    },
    parseDateTwo() {
      let newDate = moment(this.dateTwoFormatted, "DD.MM.YYYY");
      this.fundOnePickerDate = newDate.format("YYYY-MM-DD");
    },
    parseTimeOne() {
      this.fundOneTime = this.fundOneTimeFormatted;
    },
    parseTimeTwo() {
      this.fundTwoTime = this.fundTwoTimeFormatted;
    },
    saveSplit() {
      //only expenses may be split.
      this.splitFundOne.value = -this.splitFundOne.value;
      this.splitFundTwo.value = -this.remainingValue;
      let message = "";
      let success = false;
      let vm = this;
      //doppelklick stoppen
      vm.form.partTwoValid = false;
      axios
        .post(BACKEND_URL + SPLIT_PATH, {
          id: this.originalFund.id,
          funds: [this.splitFundOne, this.splitFundTwo]
        })
        .then(function() {
          message = "Geldstrom aufgeteilt!";
          success = true;
          vm.openFundsPage(message, success);
        })
        .catch(function() {
          vm.alertMessage = "Ein Fehler ist aufgetreten!";
          vm.alert = true;
        })
        .finally(function() {
          vm.form.partTwoValid = true;
        });
    },
    openFundsPage(message, isSuccess) {
      if (isSuccess && message) {
        this.router.push(`/funds?m=${message}&t=${isSuccess}`);
        return;
      }
      if (message) {
        this.router.push(`/funds?m=${message}&t=false`);
        return;
      }
      this.router.push(`/funds`);
    },
    valueInput: function(oldValue, newValue) {
      this.splitFundOne.value = this.simpleValueInput(oldValue, newValue);
    }
  }
};
</script>

<style scoped></style>
