<template>
  <v-container fluid id="import-export-funds">
    <section v-if="error">
      <p>Beim Laden der Import/Export-Seite ist ein Fehler aufgetreten.</p>
      <p>Eventuell kann der Server nicht erreicht werden. Siehe logs</p>
    </section>

    <section v-else>
      <div>
        <h1><u>Import</u></h1>
        <br />
        <input
          id="input_importFile"
          type="file"
          class="form-control"
          style="display: none"
          accept=".csv"
          ref="file"
          @input="onFileSelected"
        />
        <v-layout row wrap>
          <v-flex xs6>
            <v-text-field
              id="tf_file"
              label="Datei auswählen"
              prepend-icon="attach_file"
              @click:prepend.stop="pickFile"
              v-model="fileName"
              readonly
              @change="errorMessage = null"
            ></v-text-field>
          </v-flex>
          <v-btn id="btn_import" :disabled="importDisabled" @click="onImport"
            >Importieren</v-btn
          >
        </v-layout>
        <div>
          <div id="label_Import_ImportedCount">{{ importResultImported }}</div>
          <div id="label_Import_DiscardedCount">
            {{ importResultDiscarded }}
          </div>
          <div id="label_Import_ErrorCount" v-if="errorMessage">
            <font color="red">{{ errorMessage }}</font>
          </div>
        </div>

        <br />
        <v-divider />
        <br />

        <h1><u>Export</u></h1>
        <v-layout row wrap>
          <!-- FROM DATE -->
          <v-flex xs2>
            <v-menu
              :close-on-content-click="true"
              :nudge-right="10"
              absolute
              offset-y
              offset-x
              transition="scale-transition"
              full-width
              min-width="290px"
            >
              <v-text-field
                ref="tf_dateFrom"
                id="tf_dateFrom"
                slot="activator"
                :value="dateFromTxt"
                label="Von (optional):"
                prepend-icon="event"
                :rules="dateRulesFrom"
                @input="onDateFrom"
              ></v-text-field>
              <v-date-picker
                id="dp_dateFrom"
                v-model="dateFrom"
                @input="validateDates"
                :landscape="true"
                :reactive="true"
                :first-day-of-week="1"
                locale="de-DE"
                :allowed-dates="allowedExportDates"
              ></v-date-picker>
            </v-menu>
          </v-flex>
          <!-- TO DATE -->
          <v-flex xs2 offset-xs2>
            <v-menu
              :close-on-content-click="true"
              :nudge-right="10"
              absolute
              offset-y
              offset-x
              transition="scale-transition"
              full-width
              min-width="290px"
            >
              <v-text-field
                ref="tf_dateTo"
                id="tf_dateTo"
                slot="activator"
                :value="dateToTxt"
                label="Bis:"
                prepend-icon="event"
                :rules="dateRulesTo"
                @input="onDateTo"
                @blur="validateDates"
              ></v-text-field>
              <v-date-picker
                id="dp_dateTo"
                v-model="dateTo"
                @input="validateDates"
                :landscape="true"
                :reactive="true"
                :first-day-of-week="1"
                locale="de-DE"
                :allowed-dates="allowedExportDates"
              ></v-date-picker>
            </v-menu>
          </v-flex>
        </v-layout>
        <v-btn id="btn_export" :disabled="exportDisabled" @click="onExport"
          >Exportieren</v-btn
        >
      </div>
    </section>
  </v-container>
</template>

<script>
import axios from "axios";
import moment from "moment";
import { dateFormatting } from "../mixins/dateFormatting";
import { BACKEND_URL } from "../backend.config";
export default {
  mixins: [dateFormatting],
  data() {
    return {
      formValid: true,
      selectedFile: null,
      fileName: "",
      dateFrom: null,
      dateFromTxt: "",
      dateTo: moment().format("YYYY-MM-DD"),
      dateToTxt: this.dateDisplay(this.dateTo),
      error: false,
      dateRulesFrom: [
        v =>
          v === null ||
          v === "" ||
          this.dateTo >= this.dateFrom ||
          "Das optionale Von-Datum darf nicht größer sein als das Bis-Datum."
      ],
      dateRulesTo: [
        // v => !!v || "Es muss ein Datum angegeben werden.",
        v =>
          moment(v, "DD.MM.YYYY", true).isValid() ||
          "Es muss ein Datum angegeben werden.",
        v =>
          (!!v && (this.dateFrom == null || this.dateTo >= this.dateFrom)) ||
          "Das optionale Von-Datum darf nicht größer sein als das Bis-Datum.",
        v =>
          (!!v && moment(this.dateTo).endOf("day") <= moment().endOf("day")) ||
          "Das Bis-Datum darf nicht in der Zukunft liegen."
      ],
      importResultImported: "",
      importResultDiscarded: "",
      errorMessage: ""
    };
  },
  computed: {
    importDisabled() {
      return this.selectedFile == null;
    },
    exportDisabled() {
      if (!this.dateTo) return true;
      if (this.dateFrom !== null && this.dateFrom > this.dateTo) return true;
      var endOfToday = moment()
        .endOf("day")
        .toDate();
      var dateToMoment = moment(this.dateTo)
        .endOf("day")
        .toDate();

      return dateToMoment > endOfToday;
    },
    importResult: function() {
      return [this.importResultImported, this.importResultDiscarded];
    }
  },
  watch: {
    dateTo() {
      this.dateToTxt = this.dateDisplay(this.dateTo);
      this.validateDates();
    },
    dateFrom() {
      if (this.dateFrom) {
        this.dateFromTxt = this.dateDisplay(this.dateFrom);
      }
      this.validateDates();
    }
  },
  methods: {
    validateDates() {
      this.errorMessage = null;
      this.$refs.tf_dateFrom.validate();
      this.$refs.tf_dateTo.validate();
    },
    allowedExportDates: val => new Date(val) <= new Date(),
    pickFile() {
      this.$refs.file.click();
    },
    onDateTo(val) {
      this.dateToTxt = val;
      let newDate = moment(val, "DD.MM.YYYY", true);
      if (newDate.year() > 1) {
        this.dateTo = this.dateDisplayToPicker(val);
      }
      this.validateDates();
    },
    onDateFrom(val) {
      if (!val || val === "") {
        this.dateFromTxt = val;
        this.dateFrom = null;
        this.validateDates();
        return;
      }
      let newDate = moment(val, "DD.MM.YYYY", true);
      this.dateFromTxt = val;
      if (newDate.isValid()) {
        this.dateFromTxt = val;
        this.dateFrom = this.dateDisplayToPicker(val);
      }
      this.validateDates();
    },
    onFileSelected(e) {
      this.selectedFile = e.target.files[0];
      this.fileName = this.selectedFile.name;
      this.errorMessage = "";
    },
    onImport() {
      if (this.selectedFile == null) return;
      var vm = this;

      var reader = new FileReader();
      reader.onload = function(e) {
        var contents = e.target.result;
        axios
          .post(`${BACKEND_URL}funds/import`, {
            fd: contents
          })
          .catch(err => {
            if (err && err.response && err.response.status == 413) {
              vm.errorMessage = "Die Importdatei ist zu groß!";
            } else {
              vm.error = true;
              vm.errorMessage = err.response;
            }
          })
          .then(res => {
            vm.importResultImported =
              "* " + res.data.status[0] + " Geldströme importiert!";
            vm.importResultDiscarded =
              "* " + res.data.status[1] + " Geldströme verworfen!";
            if (res.data.status[3] > 0) {
              vm.errorMessage =
                "* Fehler in den Zeilen [" +
                res.data.status[2].slice(
                  0,
                  Math.min(20, res.data.status[2].length)
                ) +
                "] (" +
                res.data.status[3] +
                ")";
            } else {
              vm.errorMessage = null;
            }
          })
          .finally(() => {
            vm.loading = false;
          });
      };
      reader.readAsText(this.selectedFile);
    },
    onExport() {
      var unixFrom = !this.dateFrom
        ? 0
        : moment(this.dateFrom)
            .startOf("day")
            .toDate()
            .getTime() / 1000;
      var unixTo =
        moment(this.dateTo)
          .endOf("day")
          .toDate()
          .getTime() / 1000;

      if (!isNaN(unixFrom) && unixFrom < 0) {
        this.errorMessage = 'Ungültiges Datum "Von"';
        return;
      } else if (!isNaN(unixTo) && unixTo < 1) {
        this.errorMessage = 'Ungültiges Datum "Bis"';
        return;
      }
      var vm = this;
      axios
        .get(`${BACKEND_URL}funds/export`, {
          params: {
            dateFrom: unixFrom,
            dateTo: unixTo
          }
        })
        .then(response => {
          var fundsToExport = response.data.funds;

          var fundString = "id;value;description;date;categoryId;favoriteId\n";
          fundsToExport.forEach(function(fund) {
            fundString +=
              fund.id +
              ";" +
              fund.value +
              ";" +
              (fund.description || "").replace(";", "%3b") +
              ";" +
              new Date(fund.date).getTime() / 1000 +
              ";" +
              (fund.categoryId || "") +
              ";" +
              (fund.favoriteId || "") +
              "\n";
          });

          const url = window.URL.createObjectURL(new Blob([fundString]));
          const link = document.createElement("a");
          link.href = url;
          link.id = "btn_hidden_download";
          link.setAttribute("download", "export.csv");
          document.body.appendChild(link);
          link.click();
        })
        .catch(error => {
          console.error(error);
          vm.error = true;
        })
        .finally(() => {
          vm.loading = false;
        });
    }
  }
};
</script>
