<template>
  <v-container fluid fill-height>
    <v-layout row wrap align-center justify-center>
      <div v-if="showAlert" class="errorFloat">
        <custom-alert
          @dismissed="onDismissed"
          :message="errorMessage"
        ></custom-alert>
      </div>
      <v-flex xs12 sm8 md4>
        <v-card>
          <v-toolbar>
            <v-toolbar-title prepend-icon="">Anmelden</v-toolbar-title>
          </v-toolbar>
          <v-layout row>
            <v-flex xs10 offset-xs1 py-3>
              <v-text-field
                id="tf_email"
                label="E-Mail"
                type="text"
                v-model="email"
                :rules="emailRules"
                validate-on-blur
                prepend-icon="person"
                required
                autofocus
              ></v-text-field>
            </v-flex>
          </v-layout>

          <v-layout row>
            <v-flex xs10 offset-xs1 pb-3>
              <v-text-field
                id="tf_password"
                label="Passwort"
                type="password"
                v-model="password"
                @keyup.enter="login"
                :rules="passwordRules"
                prepend-icon="lock"
                required
              ></v-text-field>
            </v-flex>
          </v-layout>

          <v-layout row>
            <v-spacer />
            <v-flex xs10 pb-3>
              <v-layout row align-end justify-end>
                <v-btn id="btn_login" @click="login">Login</v-btn>
              </v-layout>
            </v-flex>
            <v-spacer />
          </v-layout>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import axios from "axios";

export default {
  data() {
    return {
      email: "",
      emailRules: [
        v => !!v || "Bitte geben Sie die E-Mail ein!",
        v => /.+@.+/.test(v) || "Die E-mail muss gültig sein!"
      ],
      password: "",
      passwordRules: [v => !!v || "Bitte geben Sie das Passwort ein!"],
      token: sessionStorage.getItem("accessToken"),
      showAlert: false,
      errorMessage: "Fehler",
      isMobile: false
    };
  },
  methods: {
    login: function() {
      const credentials = {
        email: this.email,
        password: this.password
      };
      let self = this;
      let loginUrl = `http://${
        this.isMobile ? window.location.hostname : "localhost"
      }:3000/api/Users/login`;
      axios
        .post(loginUrl, credentials)
        .then(response => {
          this.showAlert = false;
          this.token = response.data.id;
          sessionStorage.setItem("accessToken", this.token);
          this.$router.push(this.isMobile ? "/mobile/funds/new" : "/");
          axios.defaults.headers.common = {
            Authorization: `${this.token}`
          };
          this.$emit("loggedIn");
        })
        .catch(function(error) {
          self.showAlert = true;
          if (!error.response) {
            self.errorMessage = "Der Server konnte nicht erreicht werden.";
            return;
          }
          if (error.response.data.error.statusCode < 500) {
            self.errorMessage = "Benutzername oder Kennwort falsch!";
            return;
          }
          self.errorMessage = "Es ist ein serverseitiger Fehler aufgetreten.";
          console.error(error);
        });
    },
    onDismissed: function() {
      this.showAlert = false;
    }
  },
  mounted() {
    const MobileDetect = require("mobile-detect");
    this.isMobile = !!new MobileDetect(navigator.userAgent).mobile();
  }
};
</script>
<style scoped>
@media (max-device-width: 360px) {
  .errorFloat {
    position: absolute;
    top: 2vh;
  }
}
@media (min-device-width: 361px) {
  .errorFloat {
    position: absolute;
    top: 8vh;
  }
}
</style>
