<template>
  <v-container fluid id="planningtargetsCrud">
    <section v-if="error">
      <p>Beim Speichern des Planziels ist ein Fehler aufgetreten.</p>
      <p>Eventuell kann der Server nicht erreicht werden. Siehe logs</p>
    </section>
    <section v-else>
      <v-flex xs8 offset-xs1 offset-md2>
        <v-alert :value="alert" color="error" icon="warning">{{
          !!alertMessage ? alertMessage : alertMessageDefault
        }}</v-alert>
        <v-form ref="form" v-model="formValid" lazy-validation>
          <v-layout row wrap justify-start>
            <v-flex xs12 sm6 md3>
              <v-menu
                :close-on-content-click="true"
                :nudge-right="10"
                absolute
                offset-y
                offset-x
                transition="scale-transition"
                min-width="290px"
              >
                <v-text-field
                  id="tf_date_start"
                  slot="activator"
                  v-model="formattedDateStart"
                  label="Start Datum"
                  prepend-icon="event"
                  :rules="dateRules"
                  @blur="parseDateStart()"
                ></v-text-field>
                <v-date-picker
                  id="dp_date_start"
                  v-model="pickerDateStart"
                  @input="pickerDateStartChanged()"
                  :landscape="true"
                  :reactive="true"
                  :first-day-of-week="1"
                  locale="de-DE"
                ></v-date-picker> </v-menu></v-flex
            ><v-flex x12 sm6 md3>
              <v-menu
                :close-on-content-click="true"
                transition="scale-transition"
              >
                <v-text-field
                  id="tf_date_due"
                  slot="activator"
                  v-model="formattedDateDue"
                  label="End Datum"
                  prepend-icon="event"
                  :rules="dateRulesDue"
                  @blur="parseDateDue()"
                ></v-text-field>
                <v-date-picker
                  id="dp_date_due"
                  v-model="pickerDateDue"
                  @input="pickerDateDueChanged()"
                  :landscape="true"
                  :reactive="true"
                  :first-day-of-week="1"
                  locale="de-DE"
                  :allowed-dates="allowedDueDates"
                ></v-date-picker> </v-menu></v-flex
          ></v-layout>
          <v-flex xs12 sm12 md8 lg6>
            <v-text-field
              id="tf_value"
              :value="value"
              label="Betrag"
              suffix="€"
              :rules="numberRules"
              @input="valueInput(value, $event)"
            ></v-text-field>
          </v-flex>
        </v-form>
        <v-flex xs12 md8>
          <v-btn id="btn_delete" @click="deleteTarget()" v-if="!isNewEntry">
            <v-icon flat>delete_forever</v-icon>Löschen
          </v-btn>
          <v-btn
            id="btn_save"
            :disabled="!formValid"
            @click="upsertTarget()"
            align-end
          >
            <v-icon flat>save</v-icon>&nbsp;Speichern
          </v-btn>
          <v-btn id="btn_cancel" @click="router.push('/planningtargets')">
            <v-icon>cancel</v-icon>&nbsp;Abbrechen
          </v-btn>
        </v-flex>
      </v-flex>
    </section>
  </v-container>
</template>

<script>
import axios from "axios";
import moment from "moment";
import router from "../router";
import { monetary } from "../mixins/monetary";
import { BACKEND_URL, PLANNING_TARGETS_PATH } from "../backend.config";
export default {
  mixins: [monetary],
  data() {
    return {
      //display
      loading: true,
      error: false,
      alert: false,
      alertMessage: "",
      alertMessageDefault: "Das Planziel konnte nicht bearbeitet werden.",
      formValid: true,
      //form validation
      dateRules: [v => !!v || "Es muss ein Datum angegeben werden."],
      dateRulesDue: [
        v => !!v || "Es muss ein Datum angegeben werden.",
        v =>
          (!!v && this.dateDue > this.dateStart) ||
          "Das Enddatum muss nach dem Startdatum liegen."
      ],
      numberRules: [
        v => !isNaN(v) || "Der Wert muss eine Zahl sein.",
        v =>
          (v != null && v !== "" && v >= 0) ||
          "Der Wert darf nicht negativ sein."
      ],
      //data
      isNewEntry: false,
      value: 0.0,
      id: null,
      pickerDateStart: moment()
        .startOf("day")
        .format("YYYY-MM-DD"),
      formattedDateStart: moment()
        .startOf("day")
        .format("DD.MM.YYYY"),
      pickerDateDue: moment()
        .endOf("day")
        .add(1, "day")
        .format("YYYY-MM-DD"),
      formattedDateDue: moment()
        .endOf("day")
        .add(1, "day")
        .format("DD.MM.YYYY"),
      dateDue: moment()
        .endOf("day")
        .add(1, "day")
        .toDate(),
      dateStart: moment()
        .startOf("day")
        .toDate(),
      //navigation
      router
    };
  },
  mounted() {
    this.resetFields();
    if (!this.isNewEntry) {
      this.loadFields();
    }
  },
  beforeRouteEnter: function(to, from, next) {
    next(vm => {
      vm.resetFields();
      vm.loadFields();
      next();
    });
  },
  beforeRouteUpdate: function(to, from, next) {
    next(vm => {
      vm.resetFields();
      vm.loadFields();
      next();
    });
  },
  watch: {
    dateDue(val) {
      this.pickerDateDue = moment(val).format("YYYY-MM-DD");
      this.formattedDateDue = moment(val).format("DD.MM.YYYY");
    },
    dateStart(val) {
      this.pickerDateStart = moment(val).format("YYYY-MM-DD");
      this.formattedDateStart = moment(val).format("DD.MM.YYYY");
    }
  },
  methods: {
    allowedDueDates(val) {
      return new Date(val) > new Date(this.pickerDateStart);
    },
    resetAlert() {
      this.alert = false;
      this.alertMessage = this.alertMessageDefault;
    },
    pickerDateDueChanged() {
      let newDate = moment(this.pickerDateDue, "YYYY-MM-DD");
      this.dateDue = newDate.endOf("day").toDate();
      this.formattedDateDue = newDate.format("DD.MM.YYYY");
      this.formValid = this.$refs.form.validate();
    },
    parseDateDue() {
      let newDate;
      if (this.formattedDateDue == "") {
        newDate = moment(this.dateStart).add(1, "day");
      } else {
        newDate = moment(this.formattedDateDue, "DD.MM.YYYY");
      }
      this.dateDue = newDate.endOf("day").toDate();
      this.formValid = this.$refs.form.validate();
    },
    pickerDateStartChanged() {
      let newDate = moment(this.pickerDateStart, "YYYY-MM-DD");
      this.dateStart = newDate.startOf("day").toDate();
      if (this.pickerDateDue < this.pickerDateStart) {
        newDate.add(1, "day");
        this.formattedDateDue = newDate.format("DD.MM.YYYY");
        this.dateDue = newDate.endOf("day").toDate();
      }
      this.formValid = this.$refs.form.validate();
    },
    parseDateStart() {
      let newDate;
      if (this.formattedDateStart == "") {
        newDate = moment();
      } else {
        newDate = moment(this.formattedDateStart, "DD.MM.YYYY");
      }
      this.dateStart = newDate.startOf("day").toDate();
      if (this.pickerDateDue < this.pickerDateStart) {
        newDate.add(1, "day");
        this.dateDue = newDate.endOf("day").toDate();
      }
      this.formValid = this.$refs.form.validate();
    },
    upsertTarget() {
      this.resetAlert();
      this.formValid = this.$refs.form.validate();
      var vm = this;
      if (this.formValid) {
        //disable buttons to stop fast clicking
        this.formValid = false;
        let request;
        let requestBody = {
          value: this.value,
          dueDate: this.dateDue,
          startDate: this.dateStart
        };
        if (this.isNewEntry) {
          request = axios.post(
            BACKEND_URL + PLANNING_TARGETS_PATH,
            requestBody
          );
        } else {
          request = axios.put(
            BACKEND_URL + PLANNING_TARGETS_PATH + this.id,
            requestBody
          );
        }
        request
          .then(function() {
            vm.pushPlanningTargetPage();
          })
          .catch(function(error) {
            vm.alert = true;
            if (!error || !error.response) return;
            let errorDetails = error.response.data.error.details;
            if (
              errorDetails &&
              errorDetails.codes &&
              errorDetails.codes.dueDate[0] === "uniqueness"
            ) {
              vm.alertMessage =
                "Es existiert bereits ein Planziel mit diesem Enddatum.";
            }
            vm.alert = true;
          });
      }
    },
    deleteTarget() {
      this.resetAlert();
      if (this.id === null) return;
      this.formValid = false;
      var vm = this;
      axios
        .delete(BACKEND_URL + PLANNING_TARGETS_PATH + `${this.id}`, {
          id: this.id
        })
        .then(function() {
          vm.pushPlanningTargetPage();
        })
        .catch(function() {
          vm.error = true;
          vm.alert = true;
        });
    },
    pushPlanningTargetPage() {
      this.router.push("/planningTargets");
    },
    resetFields: function() {
      this.alert = false;
      this.value = 0.0;
      this.date = moment()
        .endOf("day")
        .toDate();
      this.id = this.$route.params.id;
      if (!this.id) {
        this.id = "new";
      }
      this.isNewEntry = this.id === "new" ? true : false;
    },
    loadFields() {
      if (this.isNewEntry) return;
      var vm = this;
      axios
        .get(BACKEND_URL + PLANNING_TARGETS_PATH + `${this.id}`)
        .then(function(response) {
          if (response.data != null) {
            vm.setTargetData(response.data);
          }
        })
        .catch(function() {
          vm.error = true;
        });
    },
    /**
     * Fills the data fields with data from a given fund on page load
     * @param target
     */
    setTargetData(target) {
      this.value = "" + (+target.value).toFixed(2);
      this.dateDue = moment(target.dueDate)
        .endOf("day")
        .toDate();
      this.dateStart = moment(target.startDate)
        .startOf("day")
        .toDate();
    },
    valueInput: function(oldValue, newValue) {
      this.value = this.simpleValueInput(oldValue, newValue);
    }
  }
};
</script>

<style scoped></style>
