<template>
  <v-container fluid id="planningTargets">
    <section v-if="error">
      <p>Beim Laden der Planziele ist ein Fehler aufgetreten.</p>
      <p v-if="networkError">Der Server kann nicht erreicht werden.</p>
    </section>
    <section v-else>
      <v-layout column>
        <v-layout row wrap align-center justfity-start>
          <v-radio-group
            v-model="selectionIsFuture"
            row
            id="input_selectionIsFuture"
            :mandatory="true"
          >
            <v-radio
              class="font-weight-light"
              label="Offene Ziele anzeigen"
              value="true"
            ></v-radio>
            <v-radio
              class="font-weight-light"
              label="Abgeschlossene Ziele anzeigen"
              value="false"
            ></v-radio>
          </v-radio-group>
        </v-layout>
        <v-layout v-if="loading" class="text-xs-center">
          <v-flex xs12 pt-8>
            <div>Lade Daten...</div>
            <div>
              <v-progress-circular
                indeterminate
                color="primary"
              ></v-progress-circular>
            </div>
          </v-flex>
        </v-layout>
        <v-layout v-else column justify-center>
          <v-flex xs12 pt-2>
            <v-data-table
              v-model="dataTable.selected"
              :headers="dataTable.headers"
              :items="currentTable"
              :pagination.sync="dataTable.pagination"
              item-key="id"
              class="elevation-2"
              must-sort
            >
              <template slot="items" slot-scope="props">
                <tr
                  :active="props.selected"
                  @click="router.push(`planningTargetDetails/${props.item.id}`)"
                  :key="props.item.id"
                  class="clickable"
                >
                  <td class="text-xs-left">
                    {{ props.item.startDate | formattedDate }}
                  </td>
                  <td class="text-xs-left">
                    {{ props.item.dueDate | formattedDate }}
                  </td>
                  <td class="text-xs-center">
                    {{ monetaryString(props.item.value) }}
                  </td>
                  <td
                    class="text-xs-right"
                    v-if="!props.item.loading && !props.item.balanceError"
                  >
                    {{ monetaryString(props.item.balance) }}
                  </td>
                  <td
                    v-else-if="props.item.loading && !props.item.balanceError"
                    class="text-xs-right"
                  >
                    <v-progress-circular
                      indeterminate
                      color="primary"
                    ></v-progress-circular>
                  </td>
                  <td v-else class="text-xs-right">
                    <v-icon>error_outline</v-icon>
                  </td>
                </tr>
              </template>
            </v-data-table>
            <v-btn
              id="btn_newTarget"
              color="primary"
              dark
              medium
              absolute
              top
              right
              fab
              @click="addNewPlanningTarget()"
            >
              <v-icon>add</v-icon>
            </v-btn>
          </v-flex>
        </v-layout>
      </v-layout>
    </section>
  </v-container>
</template>

<script>
import axios from "axios";
import moment from "moment";
import router from "../router";
import { monetary } from "../mixins/monetary";
import { BACKEND_URL, PLANNING_TARGETS_PATH } from "../backend.config";
export default {
  mixins: [monetary],
  filters: {
    formattedDate: function(value) {
      if (!value) return "";
      return moment(value).format("DD.MM.YYYY");
    }
  },
  data() {
    return {
      //display
      loading: true,
      error: false,
      networkErorr: false,
      selectionIsFuture: "true",
      //unterschiedliche optionen der datatables
      futureDefaultPagination: {
        sortBy: "dueDate",
        descending: false,
        rowsPerPage: 5
      },
      pastDefaultPagination: {
        sortBy: "dueDate",
        descending: true,
        rowsPerPage: 10
      },
      //data
      dataTable: {
        //initial offene
        pagination: this.futureDefaultPagination,
        headers: [
          { text: "Beginn am", value: "startDate", align: "left" },
          { text: "Fällig am", value: "dueDate", align: "left" },
          {
            text: "Zielwert",
            value: "value",
            align: "center"
          },
          {
            text: "Bilanz",
            value: "balance",
            align: "right"
          }
        ],
        selected: [],
        currentTable: []
      },
      router,
      newTargetPath: "new"
    };
  },
  mounted() {
    this.refresh();
  },
  watch: {
    selectionIsFuture(value) {
      value === "true" //string wert, da radio button das verlangt
        ? this.getFutureTargets()
        : this.getPastTargets();
    }
  },
  methods: {
    //router behaviour - rückkehr zur selben page
    beforeRouteUpdate: function() {
      this.refresh();
    },
    refresh() {
      this.selectionIsFuture = "true";
      this.getFutureTargets();
    },
    getFutureTargets() {
      this.getTargets("afterDate");
      this.dataTable.pagination = this.futureDefaultPagination;
    },
    getPastTargets() {
      this.getTargets("beforeDate");
      this.dataTable.pagination = this.pastDefaultPagination;
    },
    getTargets(endPoint) {
      let isFuture = this.selectionIsFuture === "true";
      var vm = this;
      this.loading = true;
      axios
        .get(BACKEND_URL + PLANNING_TARGETS_PATH + endPoint, {
          params: {
            date: new Date()
          }
        })
        .then(response => {
          vm.currentTable = response.data.targets.map(target => {
            target.balance = target.balance ? target.balance : null;
            target.loading = isFuture;
            return target;
          });
        })
        .catch(error => {
          console.error(error);
          vm.error = true;
          if (!error.response) {
            this.networkError = true;
          }
        })
        .finally(() => {
          //tabelle oder fehlermeldung anzeigen
          vm.loading = false;
        })
        .then(() => {
          if (isFuture && !vm.error) {
            this.loadBalances();
          }
        });
    },
    loadBalances() {
      let vm = this;
      //bilanz nachladen
      vm.currentTable.forEach(target => {
        axios
          .get(BACKEND_URL + PLANNING_TARGETS_PATH + "balance", {
            params: {
              id: target.id
            }
          })
          .then(response => {
            vm.currentTable = vm.currentTable.map(item => {
              if (item.id === target.id) {
                item.balance = response.data.balance;
                item.balanceError = false;
                item.loading = false;
              }
              return item;
            });
            vm.$forceUpdate();
          })
          .catch(err => {
            console.error(err);
            vm.currentTable = vm.currentTable.map(item => {
              if (item.id === target.id) {
                item.balanceError = true;
                item.loading = false;
              }
              return item;
            });

            vm.$forceUpdate();
          });
      });
    },
    addNewPlanningTarget() {
      router.push(PLANNING_TARGETS_PATH + this.newTargetPath);
    }
  }
};
</script>

<style scoped></style>
