<template>
  <v-container fluid id="planningDetails">
    <v-layout row pb-2 v-if="planningtarget != null" md12 lg12>
      <v-container fluid grid-list-sm>
        <v-layout justify-space-between row wrap lg12 align-center>
          <v-flex xs6 md3 lg2>
            <div class="title font-weight-light" id="lbl_startDate">
              Beginnt am: {{ planningtarget.startDate | formattedDate }}
            </div>
          </v-flex>
          <v-flex xs6 md3 lg2>
            <div class="title font-weight-light" id="lbl_dueDate">
              Fällig am: {{ planningtarget.dueDate | formattedDate }}
            </div>
          </v-flex>
          <v-spacer></v-spacer>
          <v-flex xs6 md3 lg2>
            <div class="title font-weight-light" id="lbl_balance">
              aktueller Wert: {{ monetaryString(balance, true) }}
            </div>
          </v-flex>
          <v-flex xs6 md3 lg2>
            <div class="title font-weight-light" id="lbl_targetValue">
              Zielwert: {{ monetaryString(planningtarget.value, true) }}
            </div>
          </v-flex>
          <v-layout xs12 md6 lg4 justify-start>
            <div xs6 md3 lg2>
              <v-btn
                flat
                id="btn_edit"
                @click="router.push(`/planningtargets/${id}`)"
              >
                <v-icon medium>edit</v-icon>&nbsp;Bearbeiten
              </v-btn>
            </div>
            <div xs6 md3 lg2>
              <v-btn id="btn_cancel" @click="router.push('/planningtargets')">
                <v-icon>arrow_back_ios</v-icon>Zurück
              </v-btn>
            </div>
          </v-layout>
        </v-layout>
      </v-container>
    </v-layout>
    <section v-if="error">
      <p>Beim Laden der Geldströme ist ein Fehler aufgetreten.</p>
      <p>Eventuell kann der Server nicht erreicht werden. Siehe logs</p>
    </section>
    <section v-else>
      <v-layout v-if="loading" class="text-xs-center">
        <v-flex xs12 pt-8>
          <div>Lade Daten...</div>
          <div>
            <v-progress-circular
              indeterminate
              color="primary"
            ></v-progress-circular>
          </div>
        </v-flex>
      </v-layout>
      <v-layout v-else row wrap>
        <v-flex xs12>
          <line-chart
            :height="300"
            :chart-data="chart.chartData"
            :options="chart.chartOptions"
          ></line-chart>
        </v-flex>
        <v-layout
          column
          justify-start
          lg5
          md12
          pr-2
          v-for="dataTable in dataTables"
          :key="dataTable.id"
          ref="dataTables"
        >
          <v-flex v-if="dataTable.id == 0 || futureEndDate">
            <p class="headline">{{ dataTable.header }}</p>
            <v-data-table
              v-model="dataTable.selected"
              :headers="dataTable.tableHeaders"
              :items="dataTable.items"
              :pagination.sync="dataTable.pagination"
              item-key="id"
              class="elevation-1"
              :no-data-text="dataTable.noDataText"
              must-sort
            >
              <template slot="pageText" slot-scope="props">
                Zeilen {{ props.pageStart }} - {{ props.pageStop }} von
                {{ props.itemsLength }}
              </template>
              <template slot="items" slot-scope="props">
                <tr
                  :active="props.selected"
                  @click="router.push(`/${dataTable.route}/${props.item.id}`)"
                  :key="
                    `${dataTable.id}-${props.item.id}-${idDate(
                      props.item.date
                    )}`
                  "
                  class="clickable"
                >
                  <td>{{ props.item.date | formattedDate }}</td>
                  <td>{{ props.item.description }}</td>
                  <td class="text-xs-right">
                    {{ monetaryString(props.item.value) }}
                  </td>
                </tr>
              </template>
              <template slot="footer">
                <tr v-if="dataTable.items.length > 0">
                  <td :colspan="2">
                    <strong>{{ dataTable.footerText }}:</strong>
                  </td>
                  <td class="text-xs-right">
                    <strong>
                      {{
                        dataTable.id == 0
                          ? monetaryString(aggregatedFunds, true)
                          : monetaryString(aggregatedFutureExpenses, true)
                      }}</strong
                    >
                  </td>
                </tr>
              </template>
            </v-data-table>
          </v-flex>
        </v-layout>
      </v-layout>
    </section>
  </v-container>
</template>

<script>
import axios from "axios";
import moment from "moment";
import router from "../router";
import LineChart from "./shared/LineChart.js";
import { monetary } from "../mixins/monetary";
import {
  BACKEND_URL,
  PLANNING_TARGETS_PATH,
  FUNDS_PATH,
  REGULAR_FUNDS_PATH
} from "../backend.config";
export default {
  mixins: [monetary],
  filters: {
    formattedDate: function(value) {
      if (!value) return "";
      return moment(value).format("DD.MM.YYYY");
    }
  },
  components: {
    LineChart
  },
  computed: {
    aggregatedFunds: function() {
      if (!this.fundsTableData.items) return 0;
      return this.fundsTableData.items
        .map(f => +f.value)
        .reduce((acc, cur) => acc + cur, 0);
    },
    balance: function() {
      return this.aggregatedFunds + this.aggregatedFutureExpenses;
    },
    aggregatedFutureExpenses: function() {
      if (!this.regularfundsTableData.items) return 0;
      return this.regularfundsTableData.items
        .map(f => +f.value)
        .reduce((acc, cur) => acc + cur, 0);
    }
  },
  data() {
    return {
      //display
      id: null,
      planningtarget: null,
      loading: true,
      error: false,
      tableHeaders: [
        { text: "Datum", value: "date", align: "left", width: "15%" },
        {
          text: "Beschreibung",
          value: "description"
        },
        { text: "Betrag", value: "value", align: "right" }
      ],
      fundsTableData: {
        id: 0,
        header: "Ausgaben und Einnahmen",
        tableHeaders: [],
        items: [],
        pagination: {
          sortBy: "date",
          descending: false,
          rowsPerPage: 5
        },
        noDataText:
          "Sie haben bisher keine Ausgaben oder Einnahmen in diesem Zeitraum",
        footerText: "Summe der Ausgaben und Einnahmen",
        route: "funds"
      },
      regularfundsTableData: {
        id: 1,
        header: "Ausstehende regelmäßige Ausgaben",
        tableHeaders: [],
        selected: [],
        items: [],
        pagination: {
          sortBy: "date",
          descending: false,
          rowsPerPage: 5
        },
        noDataText:
          "Sie haben bisher keine geplanten regelmäßigen Ausgaben in diesem Zeitraum",
        footerText: "Summe der regelmäßigen Ausgaben",
        route: "regularfunds"
      },
      //könnte auch computed sein, wird aber eh nur bei pageload gelesen
      futureEndDate: false,
      //chartdata
      chart: {
        chartOptions: {
          maintainAspectRatio: false,
          elements: {
            line: {
              tension: 0.1
            }
          },
          scales: {
            yAxes: [
              {
                ticks: {
                  beginAtZero: true
                },
                gridLines: {
                  display: true
                }
              }
            ],
            xAxes: [
              {
                ticks: {
                  beginAtZero: true
                },
                gridLines: {
                  display: false
                }
              }
            ]
          }
        },
        chartData: null,
        lineChartLabel: [],
        planPeriodTarget: [],
        planPeriodData: [],
        planFuturePeriodData: []
      },
      router
    };
  },
  mounted() {
    this.refresh().then(() => {
      this.getPlanPeriodData();
    });
  },
  methods: {
    //router behaviour - rückkehr zur selben page
    beforeRouteUpdate: function() {
      this.refresh();
    },
    //router behaviour - rückkehr zur selben page
    beforeRouteEnter: function() {
      this.refresh();
    },
    idDate(date) {
      return moment(date).format("YYYY-MM-DD");
    },
    refresh() {
      this.id = this.$route.params.id;
      if (!this.id) {
        this.error = true;
        return;
      }
      this.fundsTableData.tableHeaders = this.tableHeaders;
      this.regularfundsTableData.tableHeaders = this.tableHeaders;
      this.dataTables = [this.fundsTableData, this.regularfundsTableData];
      return this.loadData();
    },
    loadPlanningTarget() {
      return axios
        .get(BACKEND_URL + PLANNING_TARGETS_PATH + `${this.id}`)
        .then(response => {
          this.planningtarget = response.data;
          this.futureEndDate =
            new Date(this.planningtarget.dueDate) > new Date();
        })
        .catch(e => this.errorHandling(e));
    },
    loadData() {
      return this.loadPlanningTarget()
        .then(() => {
          let loadFunds = this.getFunds(FUNDS_PATH).then(response => {
            this.fundsTableData.items = response.data.funds;
          });
          let loadRegularFunds = this.getFunds(REGULAR_FUNDS_PATH).then(
            response => {
              this.regularfundsTableData.items = response.data.regularfunds;
            }
          );
          return Promise.all([loadFunds, loadRegularFunds])
            .then(() => (this.loading = false))
            .catch(e => this.errorHandling(e));
        })
        .catch(e => this.errorHandling(e));
    },
    getFunds(endPoint) {
      return axios
        .get(BACKEND_URL + `${endPoint}range`, {
          params: {
            from: this.planningtarget.startDate,
            to: this.planningtarget.dueDate
          }
        })
        .catch(e => this.errorHandling(e));
    },
    errorHandling(error) {
      console.error(error);
      this.error = true;
    },
    getPlanPeriodData: function() {
      let start = moment(this.planningtarget.startDate);
      let futureStart = moment(this.planningtarget.startDate);
      let end = moment(this.planningtarget.dueDate);
      let target = this.planningtarget.value;
      let current = 0;
      this.chart.lineChartLabel = [];
      this.chart.planPeriodData = [];
      // Planziel
      while (start.isBefore(end)) {
        this.chart.lineChartLabel.push(start.format("DD.MM"));
        this.chart.planPeriodTarget.push(target);
        start.add(1, "days");
      }
      // Guthaben
      while (futureStart.isSameOrBefore(moment())) {
        this.fundsTableData.items
          .filter(
            item =>
              moment(item.date).format("DD.MM") === futureStart.format("DD.MM")
          )
          .map(item => (current += parseFloat(item.value)));

        this.chart.planPeriodData.push(+current.toFixed(2));
        futureStart.add(1, "days");
        this.chart.planFuturePeriodData.push(null);
      }
      //Ausstehende Geldströme
      futureStart.subtract(1, "days");
      this.chart.planFuturePeriodData.pop();
      while (futureStart.isSameOrBefore(end)) {
        if (futureStart.isAfter(moment())) {
          this.fundsTableData.items
            .filter(
              item =>
                moment(item.date).format("DD.MM") ===
                futureStart.format("DD.MM")
            )
            .map(item => (current += parseFloat(item.value)));
        }
        this.regularfundsTableData.items
          .filter(
            item =>
              moment(item.date).format("DD.MM") === futureStart.format("DD.MM")
          )
          .map(item => (current += parseFloat(item.value)));
        futureStart.add(1, "days");
        this.chart.planFuturePeriodData.push(+current.toFixed(2));
      }
      this.fillChart();
    },
    fillChart: function() {
      this.chart.chartData = {
        labels: this.chart.lineChartLabel,
        datasets: [
          {
            label: "Planziel",
            borderColor: "#0000FF",
            borderDash: [15, 5],
            data: this.chart.planPeriodTarget,
            radius: 0
          },
          {
            label: "Guthaben",
            backgroundColor: "#00FF00",
            data: this.chart.planPeriodData
          },
          {
            label: "Ausstehende Geldströme",
            borderColor: "#44EE44",
            data: this.chart.planFuturePeriodData
          }
        ]
      };
    }
  }
};
</script>

<style scoped></style>
