<template>
  <v-container fluid id="funds">
    <section v-if="error">
      <p>Beim Laden der Geldstr&ouml;me ist ein Fehler aufgetreten.</p>
      <p>Eventuell kann der Server nicht erreicht werden. Siehe logs</p>
    </section>
    <section v-else>
      <v-flex xs10 offset-xs1>
        <v-card>
          <v-card-text>
            <v-slider
              v-model="frequencySelect"
              :tick-labels="ticksLabels"
              :max="5"
              step="1"
              ticks="always"
              tick-size="4"
              label="Detailierungsgrad der Frequenz"
            ></v-slider>
            <v-layout row justify-center>
              <v-flex xs3>
                <v-tooltip bottom>
                  <v-switch
                    :label="`Zukünftige anzeigen`"
                    v-model="futureSwitch"
                    slot="activator"
                    @change="getRegularFunds"
                  >
                  </v-switch>
                  <span>
                    Auch Geldströme anzeigen die noch nicht verbucht wurden
                  </span>
                </v-tooltip>
              </v-flex>
              <v-flex xs4>
                <v-tooltip bottom>
                  <v-switch
                    :label="`Abgeschlossene anzeigen`"
                    v-model="pastSwitch"
                    slot="activator"
                    @change="getRegularFunds"
                  ></v-switch>
                  <span>
                    Auch Geldströme anzeigen, die nicht mehr verbucht werden
                  </span>
                </v-tooltip>
              </v-flex>
            </v-layout>
          </v-card-text>
        </v-card>
      </v-flex>

      <v-layout v-if="loading" class="text-xs-center">
        <v-flex xs 12 style="padding-top:15px;">
          <div>Lade Daten...</div>
          <div>
            <v-progress-circular
              indeterminate
              color="primary"
            ></v-progress-circular>
          </div>
        </v-flex>
      </v-layout>
      <v-layout v-else column>
        <v-layout column justify-center>
          <v-flex xs8>
            <div v-for="(table, i) in tables" :key="i" style="margin-top:15px;">
              <v-flex xs10 offset-xs1 v-if="frequencySelect >= 5 - i">
                <p class="text-xs-center title ">{{ table.title }}</p>
                <v-data-table
                  v-model="selected"
                  :headers="headers"
                  :items="table.items"
                  :pagination.sync="pagination[table.pagination]"
                  select-all
                  item-key="id"
                  class="elevation-1"
                >
                  <template slot="no-data">
                    <p class="text-xs-center body-2 ">{{ table.emptyText }}</p>
                  </template>
                  <template slot="headers" slot-scope="props">
                    <tr>
                      <th
                        v-for="header in props.headers"
                        :key="header.text"
                        :class="[
                          'column sortable',
                          pagination[table.pagination].descending
                            ? 'desc'
                            : 'asc',
                          header.value === pagination[table.pagination].sortBy
                            ? 'active'
                            : '',
                          header.align ? `text-xs-${header.align}` : ''
                        ]"
                        @click="changeSort(header.value, table.pagination)"
                      >
                        <v-icon small>arrow_upward</v-icon>
                        {{ header.text }}
                      </th>
                    </tr>
                  </template>
                  <template slot="items" slot-scope="props">
                    <tr
                      :active="props.selected"
                      @click="router.push(`regularfunds/${props.item.id}`)"
                      class="text-xs-center clickable"
                      :key="props.item.id"
                    >
                      <td>{{ props.item.description }}</td>
                      <td>
                        {{
                          props.item.category ? props.item.category.name : ""
                        }}
                      </td>
                      <td class="text-xs-right">
                        {{ monetaryString(props.item.value, true) }}
                      </td>
                      <td>{{ table.moment()(props.item.firstBooking) }}</td>

                      <td>{{ formattedDate(props.item.firstBooking) }}</td>
                      <td>
                        {{
                          props.item.lastBooking
                            ? formattedDate(props.item.lastBooking)
                            : ""
                        }}
                      </td>
                    </tr>
                  </template>
                </v-data-table>
              </v-flex>
            </div>
          </v-flex>
        </v-layout>
      </v-layout>
    </section>
    <v-btn
      id="btn_newRegularFund"
      color="primary"
      dark
      medium
      absolute
      top
      right
      fab
      @click="addNewRegularFund()"
    >
      <v-icon>add</v-icon>
    </v-btn>
  </v-container>
</template>

<script>
import axios from "axios";
import router from "../router";
import moment from "moment";
import { dateFormatting } from "../mixins/dateFormatting";
import { monetary } from "../mixins/monetary";
import { BACKEND_URL, REGULAR_FUNDS_PATH } from "../backend.config";
export default {
  mixins: [dateFormatting, monetary],
  data() {
    return {
      tables: null,
      loading: true,
      error: false,
      pagination: {
        daily: { sortBy: "frequenzy", descending: true, rowsPerPage: 5 },
        weekly: { sortBy: "frequenzy", descending: true, rowsPerPage: 5 },
        monthly: { sortBy: "frequenzy", descending: true, rowsPerPage: 5 },
        quarterYearly: {
          sortBy: "frequenzy",
          descending: true,
          rowsPerPage: 5
        },
        halfYearly: { sortBy: "frequenzy", descending: true, rowsPerPage: 5 },
        yearly: { sortBy: "frequenzy", descending: true, rowsPerPage: 5 }
      },
      headers: [
        {
          text: "Beschreibung",
          value: "description"
        },
        { text: "Kategorie", value: "category.name" },
        { text: "Betrag", value: "value", align: "right" },
        { text: "Zeitpunkt", value: "frequenzy" },
        { text: "Beginn", value: "firstBooking" },
        { text: "Ende", value: "lastBooking" }
      ],
      selected: [],
      date: new Date().toISOString().substring(0, 10),
      router,
      newFundPath: "new",
      frequencySelect: 3,
      ticksLabels: ["Jahr", "Halbes Jahr", "Quartal", "Monat", "Woche", "Tag"],
      futureSwitch: true,
      pastSwitch: false,
      regularFunds: {
        daily: [],
        weekly: [],
        monthly: [],
        quarterYearly: [],
        halfYearly: [],
        yearly: []
      },
      moment,
      weekDays: [
        "Sonntag",
        "Montag",
        "Dienstag",
        "Mittwoch",
        "Donnerstag",
        "Freitag",
        "Samstag"
      ]
    };
  },
  mounted() {
    this.getRegularFunds();
  },
  methods: {
    formatWeekday: function(firstBooking) {
      return this.weekDays[moment(firstBooking).format("d")];
    },
    //router behaviour - rückkehr zur selben page
    beforeRouteUpdate: function() {
      this.getRegularFunds();
    },
    getRegularFunds: function() {
      var vm = this;
      const frequencies = [
        "daily",
        "weekly",
        "monthly",
        "quarterYearly",
        "halfYearly",
        "yearly"
      ];
      this.loading = frequencies.length;
      for (let i = 0; i < frequencies.length; i++) {
        axios
          .get(BACKEND_URL + REGULAR_FUNDS_PATH + "frequency", {
            params: {
              includePassed: vm.pastSwitch,
              includeFuture: vm.futureSwitch,
              frequency: frequencies[i]
            }
          })
          .then(response => {
            if (response.data.regularfunds) {
              vm.regularFunds[frequencies[i]] = response.data.regularfunds;
              vm.loading--;
              if (vm.loading === 0) {
                vm.setTables();
              }
            }
          })
          .catch(error => {
            console.error(error);
          });
      }
    },
    setTables: function() {
      this.tables = [
        {
          title: "Tägliche Geldströme",
          items: this.regularFunds.daily,
          pagination: "daily",
          emptyText: "Keine täglichen Geldströme vorhanden",
          // eslint-disable-next-line
          moment: () => this.df_daily
        },
        {
          title: "Wöchentliche Geldströme",
          items: this.regularFunds.weekly,
          pagination: "weekly",
          emptyText: "Keine wöchentlichen Geldströme vorhanden",
          moment: () => this.df_weekly
        },
        {
          title: "Monatliche Geldströme",
          items: this.regularFunds.monthly,
          pagination: "monthly",
          emptyText: "Keine monatlichen Geldströme vorhanden",
          moment: () => this.df_monthly
        },
        {
          title: "Vierteljährliche Geldströme",
          items: this.regularFunds.quarterYearly,
          pagination: "quarterYearly",
          emptyText: "Keine vierteljährliche Geldströme vorhanden",
          moment: () => this.df_quaterYearly
        },
        {
          title: "Halbjährliche Geldströme",
          items: this.regularFunds.halfYearly,
          pagination: "halfYearly",
          emptyText: "Keine halbjährliche Geldströme vorhanden",
          moment: () => this.df_halfYearly
        },
        {
          title: "Jährliche Geldströme",
          items: this.regularFunds.yearly,
          pagination: "yearly",
          emptyText: "Keine jährliche Geldströme vorhanden",
          moment: () => this.df_yearly
        }
      ];
    },
    formattedDate(dateUTC) {
      return moment(dateUTC).format("DD.MM.YYYY");
    },
    addNewRegularFund() {
      router.push(REGULAR_FUNDS_PATH + this.newFundPath);
    },
    changeSort(column, paginationKey) {
      if (this.pagination[paginationKey].sortBy === column) {
        this.pagination[paginationKey].descending = !this.pagination[
          paginationKey
        ].descending;
      } else {
        this.pagination[paginationKey].sortBy = column;
        this.pagination[paginationKey].descending = false;
      }
    }
  }
};
</script>
