<template>
  <v-container fluid id="regularfundCRUD">
    <v-layout row wrap align-center>
      <v-flex xs8 offset-xs1>
        <p class="text-xs-center title ">
          Regelmäßigen Geldstrom {{ isNewEntry ? "erstellen" : "bearbeiten" }}
        </p>
        <v-form ref="form" v-model="formValid" lazy-validation>
          <v-layout row justify-start>
            <v-flex xs4>
              <v-menu
                :close-on-content-click="true"
                :nudge-right="10"
                absolute
                offset-y
                offset-x
                transition="scale-transition"
                full-width
                min-width="290px"
              >
                <v-text-field
                  id="tf_firstBookingDate"
                  slot="activator"
                  v-model="firstBooking"
                  label="Erste Buchung*"
                  prepend-icon="event"
                  readonly
                  type="date"
                  :rules="firstBookingRules"
                  :error-messages="firstBookingErrorMessages"
                  @input="changeFirstBooking"
                ></v-text-field>
                <v-date-picker
                  id="dp_firstBookingDate"
                  v-model="firstBooking"
                  :landscape="true"
                  :reactive="true"
                  :first-day-of-week="1"
                  locale="de-DE"
                  @input="changeFirstBooking"
                ></v-date-picker>
              </v-menu>
            </v-flex>
            <v-flex xs4 offset-xs1>
              <v-menu
                :close-on-content-click="true"
                :nudge-right="10"
                absolute
                offset-y
                offset-x
                transition="scale-transition"
                full-width
                min-width="290px"
              >
                <v-text-field
                  id="tf_lastBookingDate"
                  slot="activator"
                  v-model="lastBooking"
                  label="Letzte Buchung"
                  prepend-icon="event"
                  type="date"
                  readonly
                  :rules="lastBookingRules"
                ></v-text-field>
                <v-date-picker
                  id="dp_lastBookingDate"
                  v-model="lastBooking"
                  :landscape="true"
                  :reactive="true"
                  :first-day-of-week="1"
                  locale="de-DE"
                ></v-date-picker>
              </v-menu>
            </v-flex>
          </v-layout>
          <v-text-field
            id="tf_description"
            v-model="description"
            :rules="descriptionRules"
            label="Beschreibung*"
            counter="255"
            required
          ></v-text-field>
          <v-select
            v-model="selectedCategoryId"
            :items="categories"
            label="Kategorie"
            item-value="id"
            item-text="name"
          ></v-select>
          <v-select
            v-model="frequency"
            label="Frequenz*"
            :items="frequencies"
            item-value="cron"
            item-text="value"
            :rules="frequencyRules"
          ></v-select>
          <v-layout xs12 sm6 align-center justify-center>
            <v-flex xs2>
              <v-btn-toggle
                id="toggle_incomeExpense"
                v-model="toggleExpense"
                mandatory
              >
                <v-btn flat id="btn_income"> <v-icon>add</v-icon> </v-btn>
                <v-btn flat id="btn_expense"> <v-icon>remove</v-icon> </v-btn>
              </v-btn-toggle>
            </v-flex>
            <v-flex xs10>
              <v-text-field
                id="tf_value"
                :value="value"
                label="Betrag*"
                suffix="€"
                @input="valueInput(value, $event)"
                :rules="numberRules"
              ></v-text-field>
            </v-flex>
          </v-layout>
        </v-form>
        <v-layout row justify-space-between>
          <div v-if="!isNewEntry">
            <v-btn id="btn_delete" :disabled="!formValid" @click="deleteFund()">
              <v-icon flat>delete_forever</v-icon>Löschen
            </v-btn>
          </div>
          <v-spacer></v-spacer>

          <v-btn id="btn_save" :disabled="!formValid" @click="upsertFund()">
            <v-icon flat>save</v-icon>Speichern
          </v-btn>
          <v-btn id="btn_cancel" @click="router.push('/regularfunds')">
            <v-icon>cancel</v-icon>Abbrechen
          </v-btn>
        </v-layout>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import axios from "axios";
import router from "../router";
import moment from "moment";
import { monetary } from "../mixins/monetary";
import {
  BACKEND_URL,
  REGULAR_FUNDS_PATH,
  CATEGORIES_PATH
} from "../backend.config";
export default {
  mixins: [monetary],
  data() {
    return {
      //display
      loading: true,
      error: false,
      timeMenu: true,
      showFavorites: false,
      formValid: true,
      //button group selection: starting with 0. (0 = +, 1 = -)
      toggleExpense: 1,
      //form validation
      descriptionRules: [
        v => !!v || "Die Beschreibung muss angegeben werden",
        v =>
          (v && v.length <= 255) ||
          "Die Beschreibung darf maximal 255 Zeichen haben."
      ],
      firstBookingRules: [
        v => !!v || "Es muss ein Datum angegeben werden.",
        v =>
          this.firstBookingNotInPast(v) ||
          "Datum darf nicht in der Vergangenheit liegen"
      ],
      lastBookingRules: [
        v =>
          !v ||
          v > this.firstBooking ||
          "Letzte Buchung muss nach erster Buchung sein."
      ],
      frequencyRules: [v => !!v || "Es muss eine Frequenz angegeben werden."],
      numberRules: [
        v => !!v || "Der Wert muss eine Zahl sein.",
        v => !isNaN(v) || "Der Wert muss eine Zahl sein."
      ],
      //data
      isNewEntry: false,
      funds: null,
      description: null,
      firstBooking: null,
      lastBooking: null,
      frequency: null,
      value: 0.0,
      id: null,
      date: moment().format("YYYY-MM-DD"),
      //categories available in select box
      categories: [],
      selectedCategoryId: null,
      //navigation
      router,
      frequencies: [
        { value: "Täglich", cron: "0 0 * * *" },
        { value: "Wöchentlich", cron: "0 0 * * X" },
        { value: "Monatlich", cron: "0 0 X * *" },
        { value: "Vierteljährlich", cron: "0 0 X */3 *" },
        { value: "Halbjährlich", cron: "0 0 X */6 *" },
        { value: "Jährlich", cron: "0 0 X Y *" }
      ],
      firstBookingErrorMessages: []
    };
  },
  computed: {
    isIncome: function() {
      return this.toggleExpense != 1;
    }
  },
  mounted() {
    this.resetFields();
    if (!this.isNewEntry) {
      this.loadFields();
    }
  },
  beforeRouteEnter: function(to, from, next) {
    next(vm => {
      vm.resetFields();
      vm.loadFields();
      next();
    });
  },
  beforeRouteUpdate: function(to, from, next) {
    next(vm => {
      vm.resetFields();
      vm.loadFields();
      next();
    });
  },
  methods: {
    changeFirstBooking() {
      this.firstBookingErrorMessages = [];
    },
    firstBookingNotInPast(firstBooking) {
      return (
        !this.isNewEntry || moment().diff(moment(firstBooking), "days") <= 0
      );
    },
    errorMonthEnding() {
      this.firstBookingErrorMessages = [
        "Datum ungültig für gewählte Frequenz (>28)"
      ];
    },
    upsertFund() {
      var vm = this;
      if (this.$refs.form.validate()) {
        //disable buttons to stop fast clicking
        this.formValid = false;
        let upsertEntry = {
          value: this.isIncome ? this.value : -this.value,
          description: this.description,
          categoryId: this.selectedCategoryId,
          id: this.id === "new" ? null : this.id,
          frequenzy: this.frequency,
          firstBooking: this.firstBooking,
          date: this.date || new Date()
        };
        if (this.lastBooking && this.lastBooking.trim().length > 0) {
          upsertEntry.lastBooking = this.lastBooking;
        }
        if (this.frequency.includes("X")) {
          let replacement;
          if (!this.frequency.includes("X ")) {
            // wöchentlich => Wochentag
            replacement = moment(this.firstBooking).format("d");
          } else {
            // Tag des Monats
            replacement = moment(this.firstBooking).format("D");
            if (+replacement > 28) {
              this.errorMonthEnding();
              return;
            }
          }
          upsertEntry.frequenzy = this.frequency.replace("X", replacement);
        }
        if (this.frequency.includes("Y")) {
          upsertEntry.frequenzy = upsertEntry.frequenzy.replace(
            "Y",
            moment(this.firstBooking).format("M")
          );
        }
        this.firstBookingErrorMessages = [];
        axios
          .post(
            BACKEND_URL + REGULAR_FUNDS_PATH + "replaceOrCreate",
            upsertEntry
          )
          .then(function() {
            vm.router.push("/regularfunds");
          })
          .catch(function(error) {
            console.log(error);
          });
      }
    },
    deleteFund() {
      if (this.id === null) return;
      this.formValid = false;
      var vm = this;
      axios
        .delete(BACKEND_URL + REGULAR_FUNDS_PATH + `${this.id}`, {
          id: this.id
        })
        .then(function() {
          vm.router.push("/regularfunds");
        });
    },
    resetFields: function() {
      var now = new Date();
      this.value = 0.0;
      this.firstBooking = this.castDateAsDatePickerString(now);
      this.lastBooking = null;
      this.date = this.castDateAsDatePickerString(now);
      this.description = null;
      this.selected_category = { id: null, name: "" };
      this.id = null;
      this.isNewEntry = true;
      this.firstBookingErrorMessages = [];
      //load categories
      //possible bug:
      //no error handling: if no categories can be retrieved from the backend: selection is empty, but user is allowed to create funds anyway (without a category)
      var vm = this;
      axios.get(BACKEND_URL + CATEGORIES_PATH).then(function(response) {
        if (response.data != null) {
          //sort by name
          response.data.sort((a, b) => ("" + a.name).localeCompare(b.name));
          vm.categories = response.data;
        }
      });
    },
    loadFields() {
      this.id = this.$route.params.id;
      this.isNewEntry = this.$route.params.id == "new";
      if (this.isNewEntry) return;
      var vm = this;
      axios
        .get(BACKEND_URL + REGULAR_FUNDS_PATH + `${this.id}`)
        .then(function(response) {
          if (response.data != null) {
            vm.setFundData(response.data);
          }
        });
    },
    /**
     * Fills the data fields with data from a given fund on page load
     * @param fund
     */
    setFundData(fund) {
      //defines 0 as income, not expense

      this.toggleExpense = +(fund.value < 0);
      this.value = "" + Math.abs(+fund.value).toFixed(2);
      this.description = fund.description;
      this.selectedCategoryId = fund.categoryId;

      this.firstBooking = this.castDateAsDatePickerString(
        new Date(fund.firstBooking)
      );
      if (fund.lastBooking)
        this.lastBooking = this.castDateAsDatePickerString(
          new Date(fund.lastBooking)
        );
      this.date = this.castDateAsDatePickerString(new Date(fund.date));
      this.frequency = this.castToBaseFrequency(fund.frequenzy);
    },
    castToBaseFrequency(frequency) {
      if (
        frequency === this.frequencies.find(f => f.value === "Täglich").cron
      ) {
        return frequency;
      } else if (frequency.match(/.*\d$/)) {
        // Endet mit Ziffer => Wöchentlich
        return this.frequencies.find(f => f.value === "Wöchentlich").cron;
      } else if (
        !frequency.includes("/") &&
        frequency.match(/.*(\d|1[0-2]) \*$/)
      ) {
        return this.frequencies.find(f => f.value === "Jährlich").cron;
      } else {
        return frequency.replace(/0 0 ([1-9]|[12]\d|3[0-1]) /, "0 0 X ");
      }
    },
    /**
     * Fills the data fields with the data from a favorit or recent fund
     * @param value
     * @param description
     * @param favoriteId optional
     */
    // eslint-disable-next-line
    fillFields(value, description, favoriteId) {
      this.toggleExpense = +(value < 0);
      this.value = Math.abs(value);
      this.description = description;
    },
    castDateAsDatePickerString: function(date) {
      //returns yyyy-mm-dd as used in the datepicker
      return moment(date).format("YYYY-MM-DD");
    },
    valueInput: function(oldValue, newValue) {
      let val = +this.value;
      if (val < 0) {
        this.toggleExpense = 1;
      }
      this.value = this.simpleValueInput(oldValue, newValue);
    }
  }
};
</script>
