<template>
  <v-container fluid id="fundsCRUD">
    <v-layout column wrap align-center>
      <section v-if="error">
        Es ist ein Fehler aufgetreten:
        <v-text-field readonly v-model="errorMessage"></v-text-field>
      </section>
      <v-alert :value="alert" color="error" icon="warning">{{
        alertMessage
      }}</v-alert>
      <v-form ref="form" v-model="formValid" lazy-validation>
        <v-layout column justify-center>
          <v-layout row justify-center>
            <v-flex xs6>
              <v-text-field
                id="tf_date"
                v-model="dateTxt"
                label="Datum"
                prepend-icon="event"
                :rules="dateRules"
                style="padding-right:10px;"
                @click="togglePickers(true)"
                @click:prepend="togglePickers(true)"
                readonly
              ></v-text-field>
            </v-flex>
            <v-flex xs6>
              <v-text-field
                id="tf_time"
                v-model="timeTxt"
                label="Uhrzeit"
                prepend-icon="access_time"
                :rules="timeRules"
                style="padding-left:10px;"
                @click="togglePickers(false)"
                @click:prepend="togglePickers(false)"
                readonly
              ></v-text-field>
            </v-flex>
          </v-layout>
          <v-card v-if="showDateTime">
            <v-layout justify-center>
              <v-date-picker
                id="dp_date"
                v-model="date"
                @input="inputDatePicker"
                :reactive="true"
                :first-day-of-week="1"
                locale="de-DE"
                v-if="showDatePicker"
              ></v-date-picker>
              <v-time-picker
                v-model="time"
                format="24hr"
                v-if="showTimePicker"
                @input="inputTimePicker"
              ></v-time-picker>
            </v-layout>
            <v-card-actions>
              <v-btn id="btn_closeDateTime" block @click="closeDateTime">
                Schließen
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-layout>
        <v-combobox
          v-model="description"
          :filter="descriptionFilter"
          :rules="descriptionRules"
          label="Beschreibung"
          counter="255"
          required
          :autofocus="isNewEntry"
          :search-input.sync="descriptionSearch"
          :loading="loadingRecommendations"
          :items="recommendationsDescriptions"
          hide-no-data
          @input="fillFieldsWithRecommendation"
          @keyup.enter="focusCategory"
          ref="descriptionField"
          id="cb_description"
        ></v-combobox>
        <v-select
          v-model="selectedCategoryId"
          :items="categories"
          label="Kategorie"
          item-value="id"
          item-text="name"
          clearable
          ref="categoryField"
          id="select_category"
          @keyup.enter="focusValue"
        ></v-select>
        <v-layout row xs12 align-center justify-center>
          <v-flex xs4>
            <v-btn-toggle
              id="toggle_incomeExpense"
              v-model="toggleExpense"
              mandatory
            >
              <v-btn flat id="btn_income">
                <v-icon>add</v-icon>
              </v-btn>
              <v-btn flat id="btn_expense">
                <v-icon>remove</v-icon>
              </v-btn>
            </v-btn-toggle>
          </v-flex>
          <v-flex xs8>
            <v-text-field
              id="tf_value"
              :value="value"
              label="Betrag"
              suffix="€"
              @input="valueInput(value, $event)"
              :rules="numberRules"
              ref="valueField"
            ></v-text-field>
          </v-flex>
        </v-layout>
      </v-form>
      <v-layout column align-end xs12>
        <p v-if="target && target.dueDate" class="text-xs-right">
          Planziel fällig am {{ target.dueDate | formattedDate }}. Wunschziel:
          {{ target.value | twoDecimalPlaces }}.
        </p>
        <p>
          Wert nach dieser Buchung:
          {{ targetAfterCurrentExpense | twoDecimalPlaces }}.
        </p>
      </v-layout>
      <v-layout row wrap align-center>
        <v-flex xs8 row offset-xs2>
          <v-switch
            label="Nur Favoriten für Suche berücksichtigen"
            v-model="showFavorites"
          ></v-switch>
        </v-flex>
      </v-layout>
      <v-layout column style="margin-top:15px;" justify-center>
        <v-btn id="btn_save" :disabled="!formValid" @click="upsertFund()" large>
          <v-icon>save</v-icon>Speichern
        </v-btn>
        <v-btn
          v-if="!isNewEntry"
          id="btn_delete"
          large
          :disabled="!formValid"
          @click="deleteFund()"
          style="margin-top:15px;"
        >
          <v-icon flat>delete_forever</v-icon>Löschen
        </v-btn>
        <v-btn
          large
          id="btn_cancel"
          @click="router.push('/mobile/funds')"
          style="margin-top:15px;"
        >
          <v-icon>cancel</v-icon>Abbrechen
        </v-btn>
      </v-layout>
    </v-layout>
  </v-container>
</template>

<script>
import axios from "axios";
import moment from "moment";
import router from "../../router";
import { monetary } from "../../mixins/monetary";
import {
  FUNDS_PATH,
  CATEGORIES_PATH,
  PLANNING_TARGETS_PATH
} from "../../backend.config";
export default {
  mixins: [monetary],
  filters: {
    twoDecimalPlaces: function(value) {
      if (!value) return "0.00";
      return (+value).toFixed(2);
    },
    formattedDate: function(value) {
      if (!value) return "";
      return moment(value).format("DD.MM.YYYY");
    }
  },
  data() {
    return {
      //display
      loading: true,
      loadingRecommendations: false,
      descriptionSearch: null,
      recommendations: [],
      error: false,
      errorMessage: "",
      showFavorites: false,
      formValid: true,
      //button group selection: starting with 0. (0 = +, 1 = -)
      toggleExpense: 1,
      //form validation
      descriptionRules: [
        v => !!v || "Die Beschreibung muss angegeben werden",
        v =>
          (v && v.length <= 255) ||
          "Die Beschreibung darf maximal 255 Zeichen haben."
      ],
      dateRules: [v => !!v || "Es muss ein Datum angegeben werden."],
      timeRules: [v => !!v || "Es muss eine Uhrzeit angegeben werden."],
      numberRules: [
        v => !!v || "Der Wert muss eine Zahl sein.",
        v => !isNaN(v) || "Der Wert muss eine Zahl sein."
      ],
      funds: null,
      description: null,
      value: 0.0,
      time: null,
      timeTxt: moment().format("HH:mm"),
      id: null,
      favoriteId: null,
      date: moment().format("YYYY-MM-DD"),
      dateTxt: moment().format("DD.MM.YYYY"),
      target: null,
      categories: [],
      selectedCategoryId: null,
      router,
      isExpenseInDB: false,
      alert: false,
      alertMessage: "",
      showDatePicker: false,
      showTimePicker: false,
      backendURL: `http://${window.location.hostname}:3000/api/`
    };
  },
  computed: {
    showDateTime: function() {
      return this.showDatePicker || this.showTimePicker;
    },
    isIncome: function() {
      return this.toggleExpense != 1;
    },
    recommendationsDescriptions: function() {
      return this.recommendations.map(rec => rec.description);
    },
    targetAfterCurrentExpense: function() {
      if (!this.target) return 0.0;
      if (this.isNewEntry) {
        if (this.isIncome) {
          return +this.target.balance + +this.value;
        }
        return +this.target.balance - this.value;
      }
      return +this.target.balance;
    },
    isNewEntry: function() {
      return this.$route.params.id == "new" ? true : false;
    }
  },
  watch: {
    descriptionSearch(searchInput) {
      this.description = searchInput;
      this.loadingRecommendations = true;
      let self = this;
      let data = {
        partlyDescription: searchInput,
        onlyFavorites: this.showFavorites
      };
      if (this.selectedCategoryId) {
        data.categoryId = this.selectedCategoryId;
      }
      if (!searchInput) {
        self.loadingRecommendations = false;
        self.recommendations = [];
      } else {
        axios
          .post(this.backendURL + FUNDS_PATH + "recommend", data)
          .then(result => {
            self.loadingRecommendations = false;
            self.recommendations = result.data.recommendations;
          })
          .catch(err => {
            self.loadingRecommendations = false;
            this.errorHandling(
              err,
              "Es konnten keine Vorschläge geladen werden."
            );
          });
      }
    },
    date() {
      this.refreshTarget();
    }
  },
  mounted() {
    this.resetFields();
    if (!this.isNewEntry) {
      this.loadFields();
    }
  },
  beforeRouteUpdate: function(to, from, next) {
    this.resetFields();
    this.loadFields();
    next();
  },
  methods: {
    inputDatePicker: function(input) {
      this.date = input;
      this.dateTxt = moment(input).format("DD.MM.YYYY");
      this.closeDateTime();
    },
    inputTimePicker: function(input) {
      this.time = input;
      this.timeTxt = input;
    },
    closeDateTime: function() {
      this.showDatePicker = false;
      this.showTimePicker = false;
    },
    togglePickers: function(isDatePicker) {
      if (isDatePicker) {
        if (this.showDatePicker) {
          this.closeDateTime();
        } else {
          this.closeDateTime();
          this.showDatePicker = true;
        }
      } else {
        if (this.showTimePicker) {
          this.closeDateTime();
        } else {
          this.closeDateTime();
          this.showTimePicker = true;
        }
      }
    },
    focusCategory: function() {
      this.$refs.descriptionField.blur();
      this.$refs.categoryField.focus();
    },
    focusValue: function() {
      this.$refs.categoryField.blur();
      this.$refs.valueField.focus();
    },
    fillFieldsWithRecommendation: function(input) {
      let recommendation = this.recommendations.filter(
        rec => rec.description === input
      )[0];
      if (!recommendation) {
        return;
      }
      const now = new Date();
      recommendation.date = now;
      recommendation.value = recommendation.value || 0;
      this.setFundData(recommendation);
    },
    // default Filter deaktivieren, echter filter in descriptionSearch() implementiert
    descriptionFilter() {
      return true;
    },
    upsertFund() {
      var vm = this;
      this.formValid = this.$refs.form.validate();
      if (!this.formValid) {
        return;
      }
      //disable buttons to stop fast clicking

      this.formValid = false;
      axios
        .post(this.backendURL + FUNDS_PATH + "replaceOrCreate", {
          value: this.isIncome ? this.value : -this.value,
          description: this.description,
          date: this.dateAsTimeStamp(this.date, this.time),
          categoryId: this.selectedCategoryId,
          favoriteId: this.favoriteId,
          id: this.id === "new" ? null : this.id
        })
        .then(() => {
          vm.router.push("/mobile/funds");
        })
        .catch(error =>
          this.errorHandling(
            error,
            "Der Geldstrom konnte nicht gespeichert werden."
          )
        );
    },
    deleteFund() {
      if (this.id === null || this.isNewEntry) return;
      this.formValid = false;
      var vm = this;
      axios
        .delete(this.backendURL + FUNDS_PATH + `${this.id}`, {
          id: this.id
        })
        .then(() => {
          vm.router.push("/mobile/funds");
        })
        .catch(error =>
          this.errorHandling(
            error,
            "Der Geldstrom konnte nicht gelöscht werden."
          )
        );
    },
    resetFields() {
      var now = new Date();
      this.value = 0.0;
      this.date = this.castDateAsDatePickerString(now);
      this.time = this.castDateAsTimePickerString(now);
      this.description = null;
      this.selected_category = { id: null, name: "" };
      this.id = null;
      this.isExpenseInDB = false;
      this.refreshTarget();
      //load categories
      //possible bug:
      var vm = this;
      axios
        .get(this.backendURL + CATEGORIES_PATH)
        .then(function(response) {
          if (response.data != null) {
            //sort by name
            response.data.sort((a, b) => ("" + a.name).localeCompare(b.name));
            vm.categories = response.data;
          }
        })
        .catch(error =>
          this.errorHandling(error, "Kategorien konnten nicht geladen werden.")
        );
    },
    loadFields() {
      this.id = this.$route.params.id;
      if (this.isNewEntry) return;
      var vm = this;
      axios
        .get(this.backendURL + FUNDS_PATH + `${this.id}`)
        .then(function(response) {
          if (response.data != null) {
            vm.setFundData(response.data);
            vm.refreshTarget();
          }
        })
        .catch(error =>
          this.errorHandling(
            error,
            "Der Geldstrom konnte nicht geladen werden."
          )
        );
    },
    errorHandling(error, message) {
      console.error(error);
      this.alert = true;
      this.alertMessage = message;
    },
    setFundData(fund) {
      //defines 0 as income, not expense
      this.toggleExpense = +(fund.value < 0);
      this.isExpenseInDB = !this.toggleExpense;
      this.value = "" + Math.abs(+fund.value).toFixed(2);
      this.description = fund.description;
      this.selectedCategoryId = fund.categoryId;
      this.date = this.castDateAsDatePickerString(new Date(fund.date));
      this.time = this.castDateAsTimePickerString(new Date(fund.date));
      if (this.showFavorites) {
        this.favoriteId = fund.id;
      } else {
        this.favoriteId = fund.favoriteId;
      }
    },
    castDateAsDatePickerString: function(date) {
      return moment(date).format("YYYY-MM-DD");
    },
    castDateAsTimePickerString: function(date) {
      return moment(date).format("HH:mm");
    },
    valueInput: function(oldValue, newValue) {
      let val = +this.value;
      if (val < 0) {
        this.toggleExpense = 1;
      }
      this.value = this.simpleValueInput(oldValue, newValue);
    },
    dateAsTimeStamp: function(dateTs, time) {
      //dran denken, dass timestamps in zeitzone UTC angezeigt werden (d.h. eine stunde früher)
      var date = new Date(dateTs);
      return new Date(
        date.getFullYear(),
        date.getMonth(),
        date.getDate(),
        +time.substring(0, 2),
        +time.substring(3, 5)
      );
    },
    refreshTarget() {
      var vm = this;
      vm.alert = false;
      axios
        .get(this.backendURL + PLANNING_TARGETS_PATH + `nextDueTarget`, {
          params: {
            startDate: this.date
          }
        })
        .then(function(response) {
          if (
            response.data != null &&
            response.data.targets &&
            response.data.targets[0]
          ) {
            vm.target = response.data.targets[0];
          } else {
            vm.target = null;
          }
        })
        .catch(error =>
          this.errorHandling(
            error,
            "Das nächste Planziel konnte nicht geladen werden."
          )
        );
    }
  }
};
</script>
