<template>
  <v-container id="funds" fluid>
    <v-layout column>
      <v-alert :value="alert" color="error" icon="warning">{{
        alertMessage
      }}</v-alert>
      <v-card v-for="fund in funds" :key="fund.id" style="margin-bottom:20px;">
        <v-card-title class="elevation-10">
          <span class="title text-xs-center">{{
            moment(fund.date).format("DD.MM HH:mm")
          }}</span>
          <span class="subheading text-xs-center" style="margin-left:10px;">{{
            trimDescription(fund.description)
          }}</span>
        </v-card-title>
        <v-card-text>
          <div v-if="descriptionWasTrimmed(fund.description)">
            <v-flex xs12>
              <v-layout row>
                <v-flex xs4 style="margin-top:10px;">
                  <p class="subheading text-xs-left">Beschreibung:</p>
                </v-flex>
                <v-flex xs7 offset-xs1>
                  <p style="word-wrap: break-word;">{{ fund.description }}</p>
                </v-flex>
              </v-layout>
            </v-flex>
            <v-divider></v-divider>
          </div>
          <div v-if="fund.category">
            <v-flex xs12 style="margin-top:10px;">
              <v-layout row>
                <v-flex xs4 class="text-xs-right">
                  <p class="subheading">Kategorie:</p>
                </v-flex>
                <v-flex xs7 offset-xs1 class="text-xs-left">
                  <p>{{ fund.category.name }}</p>
                </v-flex>
              </v-layout>
            </v-flex>
            <v-divider></v-divider>
          </div>
          <v-flex xs12 style="margin-top:10px;">
            <v-layout row>
              <v-flex xs4 class="text-xs-right">
                <p class="subheading">Betrag:</p>
              </v-flex>
              <v-flex xs7 offset-xs1 class="text-xs-left">
                <p>{{ fund.value }}€</p>
              </v-flex>
            </v-layout>
          </v-flex>
        </v-card-text>
        <v-card-actions>
          <v-layout row justify-center>
            <v-btn @click="router.push(`/mobile/funds/${fund.id}`)">
              Bearbeiten
            </v-btn>
          </v-layout>
        </v-card-actions>
      </v-card>

      <v-btn
        @click="loadMore"
        :loading="loading"
        :disabled="loading || moreDisabled"
        large
        >{{ moreTxt }}</v-btn
      >
    </v-layout>
    <v-btn
      id="btn_newFund"
      color="primary"
      dark
      medium
      absolute
      top
      right
      fab
      @click="addNewFund()"
    >
      <v-icon>add</v-icon>
    </v-btn>
  </v-container>
</template>

<script>
import axios from "axios";
import router from "../../router";
import moment from "moment";
export default {
  data() {
    return {
      moment,
      alert: false,
      alertMessage: "",
      funds: [],
      offset: 0,
      limit: 10,
      loading: false,
      router,
      moreTxt: "Weitere Laden",
      moreDisabled: false
    };
  },
  methods: {
    loadFunds() {
      let url =
        `http://${
          window.location.hostname
        }:3000/api/funds?filter=%7B%22order%22%3A%20%22date%20DESC%22%2C%20%22` +
        `where%22%20%3A%20%7B%22date%22%3A%20%7B%20%22lte%22%3A%20%22${moment().toDate()}%22%20%7D%7D%2C%20%22limit%22%3A` +
        `${this.limit}%2C%20%22skip%22%3A${
          this.offset
        }%2C%20%22include%22%3A%20%22category%22%7D`;
      axios.get(url).then(response => {
        if (!response.data || response.data.length === 0) {
          this.moreTxt = "Ende erreicht";
          this.moreDisabled = true;
        } else {
          this.funds = this.funds.concat(response.data);
          this.loading = false;
        }
      });
    },
    trimDescription(description) {
      if (description.length > 15) {
        return description.substring(0, 13) + "...";
      } else {
        return description;
      }
    },
    descriptionWasTrimmed(description) {
      return description.length > 15;
    },
    loadMore() {
      this.offset += 10;
      this.loadFunds();
    },
    addNewFund() {
      router.push("/mobile/funds/new");
    }
  },
  mounted() {
    this.loadFunds();
  }
};
</script>

<style scoped></style>
