<template>
  <v-app :dark="nightMode">
    <v-navigation-drawer
      persistent
      :mini-variant="miniVariant"
      :clipped="clipped"
      v-model="drawer"
      enable-resize-watcher
      fixed
      app
    >
      <v-list v-if="loggedInFlag">
        <v-list-tile
          value="true"
          v-for="(route, i) in routes"
          :key="i"
          @click="router.push(route.customPath ? route.customPath : route.path)"
        >
          <v-list-tile-action>
            <v-icon v-html="route.icon"></v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title v-text="route.name"></v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
        <v-list-tile @click.stop="logout">
          <v-list-tile-action>
            <v-icon>exit_to_app</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>Logout</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
      <v-list v-else>
        <v-list-tile
          @click="
            $router.push('/login');
            drawer = !drawer;
          "
        >
          <v-list-tile-action>
            <v-icon>security</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>Login</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-navigation-drawer>
    <v-toolbar app :clipped-left="clipped">
      <v-toolbar-side-icon @click.stop="drawer = !drawer" />
      <v-btn
        id="btn_toggleNavbar"
        icon
        @click.stop="miniVariant = !miniVariant"
      >
        <v-icon v-html="miniVariant ? 'chevron_right' : 'chevron_left'" />
      </v-btn>
      <v-toolbar-title v-text="title" />
      <v-spacer />
    </v-toolbar>
    <v-content>
      <router-view
        @loggedIn="loggedIn"
        @changeMode="changeMode"
        :nightMode="nightMode"
      />
    </v-content>
  </v-app>
</template>

<script>
import router, { routes } from "./router";
import axios from "axios";
import { BACKEND_URL, CONFIG_PATH } from "./backend.config";
export default {
  data() {
    axios.defaults.headers.common = {
      Authorization: sessionStorage.getItem("accessToken")
    };
    return {
      clipped: true,
      drawer: false,
      fixed: false,
      miniVariant: false,
      title: "Asset Manager",
      routes: routes.filter(route => route.showInMenu),
      router,
      loggedInFlag: !!sessionStorage.getItem("accessToken"),
      isMobile: false,
      nightMode: true
    };
  },
  name: "AssetManager",

  methods: {
    logout: function() {
      axios
        .post(
          `${
            this.backendUrl
          }/Users/logout?access_token=${sessionStorage.getItem("accessToken")}`
        )
        .then(() => {
          sessionStorage.removeItem("accessToken");
          this.loggedInFlag = false;
          this.$router.push("/login");
        })
        .catch(function(error) {
          console.log(error);
        });
    },
    loggedIn: function() {
      this.loggedInFlag = true;
    },
    notLoggedIn: function() {
      this.loggedInFlag = false;
    },
    loadConfig() {
      axios
        .get(this.backendUrl + CONFIG_PATH)
        .then(response => {
          this.nightMode = response.data.config.nightMode;
        })
        .catch(err =>
          console.error("Fehler beim Laden der Konfiguration", err)
        );
    },
    changeMode(isNightMode) {
      this.nightMode = isNightMode;
    }
  },
  mounted() {
    const MobileDetect = require("mobile-detect");
    this.isMobile = !!new MobileDetect(navigator.userAgent).mobile();
    if (this.isMobile) {
      this.routes = this.routes.filter(route => route.mobile);
      this.backendUrl = `http://${window.location.hostname}:3000/api/`;
    } else {
      this.routes = this.routes.filter(route => !route.mobile);
      this.backendUrl = BACKEND_URL;
    }
    this.loadConfig();
  }
};
</script>
